.wp-block-code {
	border-color: currentColor;
	color: currentColor;
	border-radius: 0;
	border-style: solid;
	border-width: var(--global-border-width);
	padding: var(--global-spacing-unit);

	code {
		color: currentColor;
		font-size: var(--global-fs-xs);
		white-space: pre;
		overflow-x: auto;
		display: block;
	}
}
