@include front-innerblock-vertical-margins(".wp-block-latest-comments");

.wp-block-latest-comments {

	.wp-block-latest-comments__comment {
		line-height: var(--global-lh);
	}

	.wp-block-latest-comments__comment-meta {
		font-family: var(--heading-ff);

		a {
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	time {
		color: var(--global-cl-text-secondary);
		font-size: .8em;
		font-weight: 400;
		margin-top: .1rem;
	}

	.wp-block-latest-comments__comment-excerpt {
		margin-top: .36em;

		p {
			font-size: 0.9em;
			line-height: var(--global-lh);
			margin: 0;
		}
	}
}
