.editor-styles-wrapper[class] {
	font-family: var(--global-ff-secondary);
	font-size: var(--global-fs-base);
	line-height: var(--global-lh);
	background-color: var(--global-cl-bg);
	color: var(--global-cl-text-primary);
	font-weight: normal;
}
