@charset "UTF-8";
/* stylelint-disable */
.in-sub-panel #customize-theme-controls .customize-pane-child.current-panel-parent {
  transform: translateX(-100%);
}

.control-section-collapse-parent {
  overflow: hidden !important;
}

.control-section-collapse {
  position: static !important;
  transform: none !important;
  transition: height 200ms ease !important;
  border-bottom: none !important;
  overflow: hidden !important;
}
.control-section-collapse.customize-pane-child {
  padding: 0 12px !important;
}
.control-section-collapse.customize-pane-child > li:nth-child(2) {
  margin-top: 12px;
}
.control-section-collapse .accordion-section-title::after {
  content: "\F132" !important;
}
.control-section-collapse.expanded .accordion-section-title::after {
  content: "\F460" !important;
}
.control-section-collapse .customize-section-description-container {
  display: none;
}

#customize-theme-controls .control-section-themesetup_expanded_section .accordion-section-title {
  display: none;
}
#customize-theme-controls .control-section-themesetup_expanded_section .customize-section-back {
  display: none;
}
#customize-theme-controls .customize-pane-child.control-section-themesetup_expanded_section {
  position: relative;
  visibility: visible;
  height: auto;
  margin-left: -100%;
}
#customize-theme-controls .customize-pane-child.control-section-themesetup_expanded_section h3 .customize-action {
  display: none;
}

.themesetup-control-header {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.themesetup-control-header .customize-control-title {
  margin: 0;
}

.themesetup-title-control {
  background: #f9f9f9;
  margin-left: -24px;
  margin-right: -24px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 12px 20px;
}
.themesetup-title-control .customize-control-title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-align: center;
}

.themesetup-focus-button button {
  border: 1px solid #fff;
  background: #fff;
  cursor: pointer;
  box-shadow: none !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 12px;
  border-radius: 3px;
}
.themesetup-focus-button .themesetup-focus-button-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  cursor: pointer;
  margin-right: -10px;
  width: 28px;
  height: 28px;
  margin-left: 8px;
}