@charset "UTF-8";
/**
 * Variables
 */
:root {
  /* Global Font Family */
  --global-ff-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  --global-ff-secondary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  /* Global Font Size */
  --global-fs-xs: 0.875rem;
  --global-fs-sm: 1rem;
  --global-fs-md: 1.125rem;
  --global-fs-lg: 1.25rem;
  --global-fs-xl: 1.5rem;
  --global-fs-xxl: 2.25rem;
  --global-fs-xxxl: 4rem;
  --global-fs-base: 1.125rem;
  --global-letter-spacing: normal;
  /* Global Line Height */
  --global-lh: 1.7;
  --global-lh-heading: 1.3;
  /* Global Border Width */
  --global-border-width: 1px;
  /* Global Colors */
  --global-cl-black: #000;
  --global-cl-white: #fff;
  --global-cl-white-50: rgba(255, 255, 255, 0.5);
  --global-cl-white-90: rgba(255, 255, 255, 0.9);
  --global-cl-dark-gray: #28303d;
  --global-cl-gray: #39414d;
  --global-cl-light-gray: #f0f0f0;
  --global-cl-green: #d1e4dd;
  --global-cl-blue: #d1dfe4;
  --global-cl-purple: #d1d1e4;
  --global-cl-red: #e4d1d1;
  --global-cl-orange: #e4dad1;
  --global-cl-yellow: #eeeadd;
  --global-cl-bg-light: var(--global-cl-white);
  --global-cl-text-primary-light: var(--global-cl-dark-gray);
  --global-cl-text-secondary-light: var(--global-cl-gray);
  --global-cl-accent-light: #5c6bc0;
  --global-cl-on-accent-light: var(--global-cl-white);
  --links-cl-text-light: var(--global-cl-accent-light);
  --global-cl-bg-dark: var(--global-cl-dark-gray);
  --global-cl-text-primary-dark: var(--global-cl-light-gray);
  --global-cl-text-secondary-dark: var(--global-cl-light-gray);
  --global-cl-accent-dark: #8c9eff;
  --global-cl-on-accent-dark: var(--global-cl-white);
  --links-cl-text-dark: currentColor;
  --global-cl-bg: var(--global-cl-bg-light);
  --global-cl-text-primary: var(--global-cl-text-primary-light);
  --global-cl-text-secondary: var(--global-cl-text-secondary-light);
  --global-cl-accent: var(--global-cl-accent-light);
  --global-cl-on-accent: var(--global-cl-on-accent-light);
  --global-cl-border: var(--global-cl-text-primary);
  /* Global Spacing */
  --global-spacing-unit: 20px;
  --global-spacing-h: 20px;
  --global-spacing-v: 25px;
  /* Global Alignments */
  --global-content-max-width: 610px;
  --global-wide-max-width: 1240px;
  --global-aligncontent-width: min(calc(100% - 2 * var(--global-spacing-h)), var(--global-content-max-width));
  --global-alignwide-width: min(calc(100% - 2 * var(--global-spacing-h)), var(--global-wide-max-width));
  --global-alignright-margin: calc(0.5 * (100% - var(--global-aligncontent-width)));
  --global-alignleft-margin: calc(0.5 * (100% - var(--global-aligncontent-width)));
  /* Global Shadows */
  --global-elevation-1: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  --global-elevation-2: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  --global-elevation-3: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
  /* Headings */
  --heading-ff: var(--global-ff-primary);
  --heading-fs-h1: var(--global-fs-xxl);
  --heading-fs-h2: var(--global-fs-xl);
  --heading-fs-h3: var(--global-fs-lg);
  --heading-fs-h4: var(--global-fs-md);
  --heading-fs-h5: var(--global-fs-md);
  --heading-fs-h6: var(--global-fs-md);
  --heading-letter-spacing-h6: 0.05em;
  --heading-letter-spacing-h5: 0.05em;
  --heading-letter-spacing-h4: var(--global-letter-spacing);
  --heading-letter-spacing-h3: var(--global-letter-spacing);
  --heading-letter-spacing-h2: var(--global-letter-spacing);
  --heading-letter-spacing-h1: var(--global-letter-spacing);
  --heading-lh-h6: var(--global-lh-heading);
  --heading-lh-h5: var(--global-lh-heading);
  --heading-lh-h4: var(--global-lh-heading);
  --heading-lh-h3: var(--global-lh-heading);
  --heading-lh-h2: var(--global-lh-heading);
  --heading-lh-h1: var(--global-lh-heading);
  --heading-fw: normal;
  --heading-fw-strong: 600;
  /* Forms */
  --form-fs: var(--global-fs-sm);
  --form-lh: var(--global-lh);
  --form-cl-text: var(--global-cl-dark-gray);
  --form-cl-ranged: var(--global-cl-text-primary);
  --form-weight-label: 500;
  --form-cl-border: var(--global-cl-text-primary);
  --form-width-border: 3px;
  --form-border-radius: 0;
  --form-spacing-unit: calc(0.5 * var(--global-spacing-unit));
  /* Links */
  --links-cl-text: var(--links-cl-text-light);
  /* Lists */
  --list-ff: var(--global-ff-secondary);
  /* Buttons */
  --button-ff: var(--global-ff-primary);
  --button-fs: var(--global-fs-base);
  --button-fw: 500;
  --button-lh: 1.5;
  --button-border-width: 3px;
  --button-border-radius: 0;
  --button-padding-v: 15px;
  --button-padding-h: calc(2 * var(--button-padding-v));
  --button-cl-bg: var(--global-cl-accent);
  --button-cl-text: var(--global-cl-on-accent);
  --button-shadow: var(--global-elevation-1);
  --button-shadow-hover: var(--global-elevation-2);
  --button-shadow-active: var(--global-elevation-3);
  /* Block: Latest posts */
  --latest-posts-ff-title: var(--heading-ff);
  --latest-posts-fs-title: var(--heading-fs-h3);
  --latest-posts-ff-content: var(--global-ff-secondary);
  --latest-posts-fs-content: var(--global-fs-sm);
  /* Block: Pull quote */
  --pullquote-ff: var(--global-ff-primary);
  --pullquote-fs: var(--heading-fs-h3);
  --pullquote-font-style: normal;
  --pullquote-letter-spacing: var(--heading-letter-spacing-h3);
  --pullquote-lh: var(--global-lh-heading);
  --pullquote-border-width: 3px;
  /* Block: Quote */
  --quote-fs: var(--global-fs-md);
  --quote-fs-large: var(--global-fs-xl);
  --quote-font-style: normal;
  --quote-font-style-large: normal;
  --quote-lh: var(--global-lh);
  --quote-lh-large: 1.35;
  /* Block: Separator */
  --separator-cl-border: var(--global-cl-border);
  --separator-height: 1px;
  /* Block: Table */
  --table-cl-stripes-border: var(--global-cl-light-gray);
  --table-cl-stripes-background: var(--global-cl-light-gray);
  --table-cl-has-background-text: var(--global-cl-dark-gray);
  /* Admin-bar height */
  --global-admin-bar-height: 0;
}

.is-dark-theme.is-dark-theme {
  --global-cl-bg: var(--global-cl-bg-dark);
  --global-cl-text-primary: var(--global-cl-text-primary-dark);
  --global-cl-text-secondary: var(--global-cl-text-secondary-dark);
  --global-cl-accent: var(--global-cl-accent-dark);
  --global-cl-on-accent: var(--global-cl-on-accent-dark);
  --links-cl-text: var(--links-cl-text-dark);
}

.admin-bar {
  --global-admin-bar-height: 32px;
}
@media only screen and (max-width: 782px) {
  .admin-bar {
    --global-admin-bar-height: 46px;
  }
}

html {
  font-family: var(--global-ff-secondary);
  line-height: var(--global-lh);
}

body {
  color: var(--global-cl-text-primary);
  background-color: var(--global-cl-bg);
  font-family: var(--global-ff-secondary);
  font-size: var(--global-fs-base);
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

select {
  font-size: var(--form-fs);
  border: var(--form-width-border) solid var(--form-cl-border);
  color: var(--form-cl-text);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: var(--form-lh);
  padding: var(--form-spacing-unit) calc(3 * var(--form-spacing-unit)) var(--form-spacing-unit) var(--form-spacing-unit);
  background: var(--global-cl-white) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2328303d'><polygon points='0,0 10,0 5,5'/></svg>") no-repeat;
  background-position: right var(--form-spacing-unit) top 60%;
  border-radius: var(--form-border-radius);
}

/**
 * Media
 */
img {
  height: auto;
  max-width: 100%;
}

/* Classic editor images */
.entry-content img {
  max-width: 100%;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
video {
  max-width: 100%;
}

video {
  vertical-align: middle;
}

/* Media captions */
figcaption,
.align-wrap figcaption,
.wp-caption,
.wp-caption-text {
  color: currentColor;
  font-size: var(--global-fs-xs);
  line-height: var(--global-lh);
  margin-top: calc(0.5 * var(--global-spacing-unit));
  margin-bottom: var(--global-spacing-unit);
  text-align: center;
}

.alignleft figcaption,
.alignright figcaption {
  margin-bottom: 0;
}

/* WP Smiley */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: var(--links-cl-text);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  text-decoration: none;
}

ul,
ol {
  font-family: var(--list-ff);
  margin: 0;
  padding-left: calc(2 * var(--global-spacing-h));
}

ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
ol ul {
  list-style-type: circle;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  clear: both;
  font-family: var(--heading-ff);
  font-weight: var(--heading-fw);
}
h1 strong,
.h1 strong,
h2 strong,
.h2 strong,
h3 strong,
.h3 strong,
h4 strong,
.h4 strong,
h5 strong,
.h5 strong,
h6 strong,
.h6 strong {
  font-weight: var(--heading-fw-strong);
}

h1,
.h1 {
  font-size: var(--heading-fs-h1);
  letter-spacing: var(--heading-letter-spacing-h1);
  line-height: var(--heading-lh-h1);
}

h2,
.h2 {
  font-size: var(--heading-fs-h2);
  letter-spacing: var(--heading-letter-spacing-h2);
  line-height: var(--heading-lh-h2);
}

h3,
.h3 {
  font-size: var(--heading-fs-h3);
  letter-spacing: var(--heading-letter-spacing-h3);
  line-height: var(--heading-lh-h3);
}

h4,
.h4 {
  font-size: var(--heading-fs-h4);
  font-weight: var(--heading-fw-strong);
  letter-spacing: var(--heading-letter-spacing-h4);
  line-height: var(--heading-lh-h4);
}

h5,
.h5 {
  font-size: var(--heading-fs-h5);
  font-weight: var(--heading-fw-strong);
  letter-spacing: var(--heading-letter-spacing-h5);
  line-height: var(--heading-lh-h5);
}

h6,
.h6 {
  font-size: var(--heading-fs-h6);
  font-weight: var(--heading-fw-strong);
  letter-spacing: var(--heading-letter-spacing-h6);
  line-height: var(--heading-lh-h6);
}

.is-dark-theme .wp-block-audio figcaption {
  color: currentColor;
}

.wp-block-button__link {
  line-height: var(--button-lh);
  font-weight: var(--button-fw);
  font-family: var(--button-ff);
  font-size: var(--button-fs);
  border: none;
  border-radius: var(--button-border-radius);
  text-decoration: none;
  padding: var(--button-padding-v) var(--button-padding-h);
  cursor: pointer;
  box-shadow: var(--button-shadow);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear, background-color 15ms linear;
  border-style: solid;
  border-width: var(--button-border-width);
  border-color: transparent;
  background-color: var(--global-cl-accent);
  color: var(--global-cl-on-accent);
}
.wp-block-button__link:hover, .wp-block-button__link:active, .wp-block-button__link:focus {
  opacity: 0.85;
}
.wp-block-button__link:hover, .wp-block-button__link:focus {
  box-shadow: var(--button-shadow-hover);
}
.wp-block-button__link:focus {
  outline: none;
}
.wp-block-button__link:active {
  box-shadow: var(--button-shadow-active);
}

[data-block].wp-block-buttons {
  margin-top: 0;
  margin-bottom: 0;
}

.wp-block-button.is-style-outline .wp-block-button__link {
  border-style: solid;
  border-width: var(--button-border-width);
  border-color: currentColor;
  box-shadow: none;
  background: transparent;
  color: var(--button-cl-bg);
}

.wp-block-code {
  border-color: var(--global-cl-border);
  border-radius: 0;
  border-style: solid;
  border-width: var(--global-border-width);
  padding: var(--global-spacing-unit);
}
.wp-block-code code {
  color: var(--global-cl-text-primary);
  font-size: var(--global-fs-xs);
  white-space: pre !important;
  overflow-x: auto;
}

.wp-block-columns:not(.alignwide):not(.alignfull) {
  clear: both;
}
.wp-block-columns .wp-block,
.wp-block-columns .wp-block-column {
  max-width: 100%;
}
.wp-block-columns > .wp-block-column > *:first-child {
  margin-top: 0;
}
.wp-block-columns > .wp-block-column > *:last-child:not(.block-list-appender) {
  margin-bottom: 0;
}
.wp-block-columns.has-child-selected > .wp-block-column > *:nth-last-child(2), .wp-block-columns.is-selected > .wp-block-column > *:nth-last-child(2) {
  margin-bottom: 0;
}
.wp-block-columns .wp-block-column:last-child {
  margin-bottom: 0;
}
.wp-block-columns .wp-block-column:not(:last-child) {
  margin-bottom: calc(0.66 * var(--global-spacing-v));
}
.wp-block[data-align=full] > .wp-block-columns p:not(.has-background),
.wp-block[data-align=full] > .wp-block-columns h1:not(.has-background),
.wp-block[data-align=full] > .wp-block-columns h2:not(.has-background),
.wp-block[data-align=full] > .wp-block-columns h3:not(.has-background),
.wp-block[data-align=full] > .wp-block-columns h4:not(.has-background),
.wp-block[data-align=full] > .wp-block-columns h5:not(.has-background),
.wp-block[data-align=full] > .wp-block-columns h6:not(.has-background) {
  padding-left: var(--global-spacing-unit);
  padding-right: var(--global-spacing-unit);
}
@media only screen and (min-width: 600px) {
  .wp-block-columns.is-style-themesetup-columns-overlap .wp-block-column:nth-child(2n) {
    margin-left: calc(-2.5 * var(--global-spacing-h));
    margin-top: calc(2.5 * var(--global-spacing-h));
    z-index: 2;
  }
  .wp-block-columns.is-style-themesetup-columns-overlap .wp-block-column:nth-child(2n).is-vertically-aligned-center {
    margin-top: 0;
  }
}

.wp-block-cover,
.wp-block-cover-image {
  /* The background color class is used just for the overlay, and does not need to be applied to the inner container. */
}
.wp-block-cover > .wp-block-cover__inner-container > *:first-child,
.wp-block-cover-image > .wp-block-cover__inner-container > *:first-child {
  margin-top: 0;
}
.wp-block-cover > .wp-block-cover__inner-container > *:last-child:not(.block-list-appender),
.wp-block-cover-image > .wp-block-cover__inner-container > *:last-child:not(.block-list-appender) {
  margin-bottom: 0;
}
.wp-block-cover.has-child-selected > .wp-block-cover__inner-container > *:nth-last-child(2), .wp-block-cover.is-selected > .wp-block-cover__inner-container > *:nth-last-child(2),
.wp-block-cover-image.has-child-selected > .wp-block-cover__inner-container > *:nth-last-child(2),
.wp-block-cover-image.is-selected > .wp-block-cover__inner-container > *:nth-last-child(2) {
  margin-bottom: 0;
}
.wp-block-cover:not(.alignwide):not(.alignfull),
.wp-block-cover-image:not(.alignwide):not(.alignfull) {
  clear: both;
}
.wp-block-cover.has-custom-content-position .wp-block-cover__inner-container,
.wp-block-cover-image.has-custom-content-position .wp-block-cover__inner-container {
  max-width: min(100%, var(--global-content-max-width));
}
.wp-block-cover[class*=-background-color][class] .wp-block-cover__inner-container,
.wp-block-cover-image[class*=-background-color][class] .wp-block-cover__inner-container {
  background-color: unset;
}

.wp-block-file .wp-block-file__textlink {
  cursor: pointer;
  color: var(--links-cl-text);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
.wp-block-file .wp-block-file__textlink:hover {
  text-decoration: none;
}
.wp-block-file .wp-block-file__textlink:focus {
  outline: thin dotted;
  text-decoration: none;
}
.wp-block-file .wp-block-file__button {
  line-height: var(--button-lh);
  font-weight: var(--button-fw);
  font-family: var(--button-ff);
  font-size: var(--button-fs);
  border: none;
  border-radius: var(--button-border-radius);
  text-decoration: none;
  padding: var(--button-padding-v) var(--button-padding-h);
  cursor: pointer;
  box-shadow: var(--button-shadow);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear, background-color 15ms linear;
  border-style: solid;
  border-width: var(--button-border-width);
  border-color: transparent;
}
.wp-block-file .wp-block-file__button:hover, .wp-block-file .wp-block-file__button:active, .wp-block-file .wp-block-file__button:focus {
  opacity: 0.85;
}
.wp-block-file .wp-block-file__button:hover, .wp-block-file .wp-block-file__button:focus {
  box-shadow: var(--button-shadow-hover);
}
.wp-block-file .wp-block-file__button:focus {
  outline: none;
}
.wp-block-file .wp-block-file__button:active {
  box-shadow: var(--button-shadow-active);
}

.wp-block-gallery .blocks-gallery-item figcaption {
  color: var(--global-cl-white);
  font-size: var(--global-fs-xs);
}
.wp-block-gallery .blocks-gallery-item figcaption a {
  color: var(--global-cl-white);
}

.wp-block-group {
  clear: both;
  display: flow-root;
}
.wp-block-group > .wp-block-group__inner-container > *:first-child {
  margin-top: 0;
}
.wp-block-group > .wp-block-group__inner-container > *:last-child:not(.block-list-appender) {
  margin-bottom: 0;
}
.wp-block-group.has-child-selected > .wp-block-group__inner-container > *:nth-last-child(2), .wp-block-group.is-selected > .wp-block-group__inner-container > *:nth-last-child(2) {
  margin-bottom: 0;
}

/*
.wp-block-group.has-background {

	padding: var(--global-spacing-v) 0;

	[class*="inner-container"] {

		> *:not([data-align="wide"]):not([data-align="full"]) {
			max-width: var(--global-aligncontent-width);
			margin-left: auto;
			margin-right: auto;
		}

		> [data-align="wide"] {
			max-width: var(--global-alignwide-width);
			margin-left: auto;
			margin-right: auto;
		}

		> [data-align="full"] {
			max-width: none;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

//
// Parent is alignwide
//

[data-align="wide"] .wp-block-group {

	[class*="inner-container"] > *:not([data-align="wide"]):not([data-align="full"]) {
		max-width: min(100%, var(--global-content-max-width));
		margin-left: auto;
		margin-right: auto;
	}

	&.has-background [class*="inner-container"] > *:not([data-align="wide"]):not([data-align="full"]) {
		max-width: var(--global-aligncontent-width);
		margin-left: auto;
		margin-right: auto;
	}
}

//
// Parent is alignfull
//

[data-align="full"] .wp-block-group [class*="inner-container"] > *:not([data-align="wide"]):not([data-align="full"]) {
	max-width: var(--global-aligncontent-width);
	margin-left: auto;
	margin-right: auto;
}

[data-align="full"] .wp-block-group [class*="inner-container"] > [data-align="wide"] {
	max-width: var(--global-alignwide-width);
	margin-left: auto;
	margin-right: auto;
}
*/
.wp-block-latest-comments {
  padding-left: 0;
}
.wp-block-latest-comments .wp-block-latest-comments__comment {
  font-size: var(--global-fs-sm);
  line-height: var(--global-lh);
  margin-top: var(--global-spacing-v);
  margin-bottom: var(--global-spacing-v);
}
.wp-block-latest-comments .wp-block-latest-comments__comment:first-child {
  margin-top: 0;
}
.wp-block-latest-comments .wp-block-latest-comments__comment:last-child {
  margin-bottom: 0;
}
.wp-block-latest-comments .wp-block-latest-comments__comment-meta {
  font-family: var(--heading-ff);
}
.wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p {
  font-size: var(--global-fs-sm);
  line-height: var(--global-lh);
  margin: 0;
}

.wp-block-latest-posts {
  padding-left: 0;
}
.wp-block-latest-posts:not(.is-grid) > li {
  margin-top: var(--global-spacing-v);
  margin-bottom: var(--global-spacing-v);
}
.wp-block-latest-posts:not(.is-grid) > li:first-child {
  margin-top: 0;
}
.wp-block-latest-posts:not(.is-grid) > li:last-child {
  margin-bottom: 0;
}
.wp-block-latest-posts.is-grid {
  word-wrap: break-word;
  word-break: break-word;
}
.wp-block-latest-posts.is-grid > li {
  margin-bottom: var(--global-spacing-v);
}
.wp-block-latest-posts.is-grid > li:last-child {
  margin-bottom: 0;
}
.wp-block-latest-posts > li > * {
  margin-top: calc(0.333 * var(--global-spacing-v));
  margin-bottom: calc(0.333 * var(--global-spacing-v));
}
.wp-block-latest-posts > li > *:first-child {
  margin-top: 0;
}
.wp-block-latest-posts > li > *:last-child {
  margin-bottom: 0;
}
.wp-block-latest-posts > li > a {
  display: inline-block;
  font-family: var(--latest-posts-ff-title);
  font-size: var(--latest-posts-fs-title);
  font-weight: var(--heading-fw);
  line-height: var(--global-lh-heading);
}
.wp-block-latest-posts .wp-block-latest-posts__post-author {
  color: currentColor;
  font-size: var(--global-fs-md);
  line-height: var(--global-lh);
}
.wp-block-latest-posts .wp-block-latest-posts__post-date {
  color: currentColor;
  font-size: var(--global-fs-xs);
}
.wp-block-latest-posts .wp-block-latest-posts__post-excerpt,
.wp-block-latest-posts .wp-block-latest-posts__post-full-content {
  font-family: var(--latest-posts-ff-content);
  font-size: var(--latest-posts-fs-content);
  margin-top: calc(0.666 * var(--global-spacing-v));
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

.wp-block-media-text > .wp-block-media-text__content > *:first-child {
  margin-top: 0;
}
.wp-block-media-text > .wp-block-media-text__content > *:last-child:not(.block-list-appender) {
  margin-bottom: 0;
}
.wp-block-media-text.has-child-selected > .wp-block-media-text__content > *:nth-last-child(2), .wp-block-media-text.is-selected > .wp-block-media-text__content > *:nth-last-child(2) {
  margin-bottom: 0;
}
.wp-block-media-text .wp-block-media-text__content {
  padding: var(--global-spacing-h);
}

p.has-background {
  padding: var(--global-spacing-v) var(--global-spacing-h);
}

pre.wp-block-preformatted {
  overflow-x: auto;
  white-space: pre !important;
  font-size: var(--global-fs-xs);
}

.wp-block-pullquote {
  padding: calc(2 * var(--global-spacing-unit)) 0;
  border-width: var(--pullquote-border-width);
  border-color: currentColor;
  position: relative;
}
.wp-block-pullquote:not(.is-style-solid-color) blockquote {
  margin: 0;
}
.wp-block-pullquote blockquote::before {
  color: currentColor;
  content: "\201C";
  display: block;
  position: relative;
  left: 0;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
}
.wp-block-pullquote p {
  font-family: var(--pullquote-ff);
  font-size: var(--pullquote-fs);
  font-style: var(--pullquote-font-style);
  font-weight: 700;
  letter-spacing: var(--pullquote-letter-spacing);
  line-height: var(--pullquote-lh);
  margin: 0;
}
.wp-block-pullquote .wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
  font-size: var(--global-fs-xs);
  font-style: var(--pullquote-font-style);
  text-transform: none;
}
[data-align=wide] > .wp-block-pullquote blockquote, [data-align=full] > .wp-block-pullquote blockquote {
  max-width: var(--global-alignwide-width);
  margin-left: auto;
  margin-right: auto;
}
.wp-block-pullquote.is-style-solid-color {
  padding: calc(2.5 * var(--global-spacing-unit));
}
@media only screen and (min-width: 600px) {
  .wp-block-pullquote.is-style-solid-color {
    padding: calc(5 * var(--global-spacing-unit));
  }
}
.wp-block-pullquote.is-style-solid-color blockquote::before {
  text-align: left;
}
.wp-block-pullquote.is-style-solid-color blockquote {
  margin: 0;
  max-width: 100%;
}
.wp-block-pullquote.is-style-solid-color blockquote p {
  font-size: var(--pullquote-fs);
}

.wp-block[data-align=left] .wp-block-pullquote.is-style-solid-color,
.wp-block[data-align=right] .wp-block-pullquote.is-style-solid-color {
  padding: var(--global-spacing-unit);
}

.wp-block-quote {
  position: relative;
  border-left: none;
}
.wp-block-quote:before {
  content: "\201C";
  font-size: var(--quote-fs);
  line-height: var(--quote-lh);
  position: absolute;
  left: 8px;
}
.wp-block-quote p {
  font-size: var(--quote-fs);
  font-style: var(--quote-font-style);
  font-weight: 700;
  line-height: var(--quote-lh);
  margin: 0;
}
.wp-block-quote .wp-block-quote__citation {
  font-size: var(--global-fs-xs);
  font-style: var(--quote-font-style);
  text-transform: none;
  margin: 0;
}
.wp-block-quote.has-text-align-right {
  padding-right: 0;
  border-right: none;
}
.wp-block-quote.has-text-align-right:before {
  display: none;
}
.wp-block-quote.has-text-align-right p:before {
  content: "\201D";
  font-size: var(--quote-fs);
  font-weight: normal;
  line-height: var(--quote-lh);
  margin-right: 5px;
}
.wp-block-quote.has-text-align-center:before {
  display: none;
}
.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  padding-left: 0;
  padding-right: 0;
}
.wp-block-quote.is-large:before, .wp-block-quote.is-style-large:before {
  font-size: var(--quote-fs-large);
  line-height: var(--quote-lh-large);
  left: calc(-1 * var(--global-spacing-h));
}
.wp-block-quote.is-large p, .wp-block-quote.is-style-large p {
  font-size: var(--quote-fs-large);
  font-style: var(--quote-font-style-large);
  line-height: var(--quote-lh-large);
}
.wp-block-quote.is-large.has-text-align-right p:before, .wp-block-quote.is-style-large.has-text-align-right p:before {
  font-size: var(--quote-fs-large);
  line-height: var(--quote-lh-large);
  margin-right: 10px;
}
.wp-block-quote.is-large .wp-block-quote__citation, .wp-block-quote.is-style-large .wp-block-quote__citation {
  font-size: var(--global-fs-sm);
}

.wp-block-rss {
  padding-left: 0;
}
.wp-block-rss > li {
  list-style: none;
}
.wp-block-rss:not(.is-grid) > li {
  margin-top: calc(0.666 * var(--global-spacing-v));
  margin-bottom: calc(0.666 * var(--global-spacing-v));
}
.wp-block-rss:not(.is-grid) > li:first-child {
  margin-top: 0;
}
.wp-block-rss:not(.is-grid) > li:last-child {
  margin-bottom: 0;
}
.wp-block-rss.is-grid > li {
  margin-bottom: var(--global-spacing-v);
}
.wp-block-rss.is-grid > li:last-child {
  margin-bottom: 0;
}
.wp-block-rss.is-grid.columns-2 > li:nth-last-child(-n+2):nth-child(2n+1), .wp-block-rss.is-grid.columns-2 > li:nth-last-child(-n+2):nth-child(2n+1) ~ li, .wp-block-rss.is-grid.columns-3 > li:nth-last-child(-n+3):nth-child(3n+1), .wp-block-rss.is-grid.columns-3 > li:nth-last-child(-n+3):nth-child(3n+1) ~ li, .wp-block-rss.is-grid.columns-4 > li:nth-last-child(-n+4):nth-child(4n+1), .wp-block-rss.is-grid.columns-4 > li:nth-last-child(-n+4):nth-child(4n+1) ~ li, .wp-block-rss.is-grid.columns-5 > li:nth-last-child(-n+5):nth-child(5n+1), .wp-block-rss.is-grid.columns-5 > li:nth-last-child(-n+5):nth-child(5n+1) ~ li, .wp-block-rss.is-grid.columns-6 > li:nth-last-child(-n+6):nth-child(6n+1), .wp-block-rss.is-grid.columns-6 > li:nth-last-child(-n+6):nth-child(6n+1) ~ li {
  margin-bottom: 0;
}
.wp-block-rss > li > * {
  margin-top: calc(0.333 * var(--global-spacing-v));
  margin-bottom: calc(0.333 * var(--global-spacing-v));
}
.wp-block-rss > li > *:first-child {
  margin-top: 0;
}
.wp-block-rss > li > *:last-child {
  margin-bottom: 0;
}
.wp-block-rss .wp-block-rss__item-title > a {
  display: inline-block;
}
.wp-block-rss .wp-block-rss__item-author {
  color: currentColor;
  font-size: var(--global-fs-md);
  line-height: var(--global-lh);
}
.wp-block-rss .wp-block-rss__item-publish-date {
  color: currentColor;
  font-size: var(--global-fs-xs);
  line-height: var(--global-lh);
}
.wp-block-rss .wp-block-rss__item-excerpt,
.wp-block-rss .wp-block-rss__item-full-content {
  margin-top: calc(0.666 * var(--global-spacing-v));
}
[data-align=full] > .wp-block-rss {
  padding-left: var(--global-spacing-h);
  padding-right: var(--global-spacing-h);
}

.wp-block-search .wp-block-search__label {
  display: block;
  font-size: var(--form-fs);
  font-weight: var(--form-weight-label);
  margin-bottom: calc(var(--global-spacing-v) / 3);
}
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.wp-block-search .wp-block-search__input {
  font-size: var(--form-fs);
  border: var(--form-width-border) solid var(--form-cl-border);
  border-radius: var(--form-border-radius);
  color: var(--form-cl-text);
  line-height: var(--form-lh);
  padding: var(--form-spacing-unit);
  max-width: 100%;
}
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper:focus,
.wp-block-search .wp-block-search__input:focus {
  color: var(--form-cl-text);
  outline-offset: 2px;
  outline: 1px dotted var(--form-cl-border);
}
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper:disabled,
.wp-block-search .wp-block-search__input:disabled {
  opacity: 0.7;
}
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper:focus,
.wp-block-search .wp-block-search__input:focus {
  outline-offset: -6px;
}
.wp-block-search .wp-block-search__button.wp-block-search__button {
  line-height: var(--button-lh);
  font-weight: var(--button-fw);
  font-family: var(--button-ff);
  font-size: var(--button-fs);
  border: none;
  border-radius: var(--button-border-radius);
  text-decoration: none;
  padding: var(--button-padding-v) var(--button-padding-h);
  cursor: pointer;
  box-shadow: var(--button-shadow);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear, background-color 15ms linear;
  border-style: solid;
  border-width: var(--button-border-width);
  border-color: transparent;
  line-height: 1;
}
.wp-block-search .wp-block-search__button.wp-block-search__button:hover, .wp-block-search .wp-block-search__button.wp-block-search__button:active, .wp-block-search .wp-block-search__button.wp-block-search__button:focus {
  opacity: 0.85;
}
.wp-block-search .wp-block-search__button.wp-block-search__button:hover, .wp-block-search .wp-block-search__button.wp-block-search__button:focus {
  box-shadow: var(--button-shadow-hover);
}
.wp-block-search .wp-block-search__button.wp-block-search__button:focus {
  outline: none;
}
.wp-block-search .wp-block-search__button.wp-block-search__button:active {
  box-shadow: var(--button-shadow-active);
}
.wp-block-search .wp-block-search__button.wp-block-search__button.has-icon {
  padding: 6px calc(0.5 * var(--button-padding-h));
  display: inherit;
}
.wp-block-search .wp-block-search__button.wp-block-search__button.has-icon svg {
  width: 40px;
  height: 40px;
}
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  background-color: var(--global-cl-white);
  padding: var(--form-width-border);
}
.wp-block-search.wp-block-search__button-inside.wp-block-search__text-button .wp-block-search__button {
  padding: var(--button-padding-v) var(--button-padding-h);
}

.wp-block[data-align=center] > * {
  text-align: center;
}

.wp-block-separator {
  clear: both;
  border-bottom: var(--separator-height) solid var(--separator-cl-border);
  opacity: 1;
}
[class*=has-background] .wp-block-separator {
  border-color: currentColor;
}
[data-align=full] > .wp-block-separator, [data-align=wide] > .wp-block-separator {
  max-width: 100%;
}
.wp-block-separator.is-style-dots {
  border-bottom: none;
}
.wp-block-separator.is-style-dots:before {
  font-size: var(--global-fs-xl);
  letter-spacing: var(--global-fs-sm);
  padding-left: var(--global-fs-sm);
}

table thead,
table tfoot,
.wp-block-table thead,
.wp-block-table tfoot {
  text-align: center;
}
table th,
.wp-block-table th {
  font-family: var(--heading-ff);
}
table td,
table th,
.wp-block-table td,
.wp-block-table th {
  padding: calc(0.5 * var(--global-spacing-unit));
}
table .has-background,
table .has-background thead tr,
table .has-background tfoot tr,
table .has-background tbody tr,
.wp-block-table .has-background,
.wp-block-table .has-background thead tr,
.wp-block-table .has-background tfoot tr,
.wp-block-table .has-background tbody tr {
  color: var(--table-cl-has-background-text);
}
table.is-style-stripes,
.wp-block-table.is-style-stripes {
  border-color: var(--table-cl-stripes-border);
}
table.is-style-stripes th,
table.is-style-stripes td,
.wp-block-table.is-style-stripes th,
.wp-block-table.is-style-stripes td {
  border-width: 0;
}
table.is-style-stripes tbody tr:nth-child(odd),
.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  background-color: var(--table-cl-stripes-background);
}
table.is-style-stripes .has-background tbody tr:nth-child(odd),
.wp-block-table.is-style-stripes .has-background tbody tr:nth-child(odd) {
  background-color: var(--global-cl-white-90);
}

table.wp-calendar-table caption {
  font-weight: bold;
  text-align: left;
  margin-bottom: var(--global-spacing-unit);
  color: currentColor;
}
table.wp-calendar-table td,
table.wp-calendar-table th {
  background: transparent;
  border: 0;
  text-align: center;
  line-height: 2;
  vertical-align: middle;
}
table.wp-calendar-table th {
  font-weight: bold;
}
table.wp-calendar-table thead,
table.wp-calendar-table tbody {
  color: currentColor;
  border: 1px solid;
}

.wp-calendar-nav {
  text-align: left;
  margin-top: calc(var(--global-spacing-unit) / 2);
}
.wp-calendar-nav svg {
  height: 1em;
  vertical-align: middle;
}
.wp-calendar-nav svg path {
  fill: currentColor;
}
.wp-calendar-nav .wp-calendar-nav-next {
  float: right;
}

pre.wp-block-verse {
  padding: 0;
  color: currentColor;
}

.wp-block {
  max-width: 100%;
}

.block-editor-block-list__layout.is-root-container > * {
  max-width: var(--global-aligncontent-width);
  margin-left: auto;
  margin-right: auto;
}

.block-editor-block-list__layout.is-root-container > .wp-block[data-align=wide], .block-editor-block-list__layout.is-root-container > .wp-block.alignwide {
  max-width: var(--global-alignwide-width);
}
.block-editor-block-list__layout.is-root-container > .wp-block[data-align=full], .block-editor-block-list__layout.is-root-container > .wp-block.alignfull {
  max-width: none;
}

.wp-block[data-align=left] > *:not(.is-resized),
.wp-block[data-align=right] > *:not(.is-resized) {
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 599px) {
  .wp-block[data-align=left] > *:not(.is-resized),
.wp-block[data-align=right] > *:not(.is-resized) {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 600px) {
  .wp-block[data-align=left] > *:not(.is-resized),
.wp-block[data-align=right] > *:not(.is-resized) {
    max-width: 50%;
  }
}

.wp-block[data-align=left] > * {
  margin-right: var(--global-spacing-h);
}

.wp-block[data-align=right] > * {
  margin-left: var(--global-spacing-h);
}

.wp-block[data-align=left] figcaption,
.wp-block[data-align=right] figcaption {
  margin-bottom: 0;
}

.wp-block .wp-block {
  max-width: 100%;
}

[data-block] {
  margin-top: var(--global-spacing-v);
  margin-bottom: var(--global-spacing-v);
}

.wp-block-group.has-background,
.wp-block-cover,
.wp-block-cover-image {
  padding: var(--global-spacing-v) 0;
}

[class*=has-background] > [class*=inner-container] > *:not([data-align=wide]):not([data-align=full]) {
  max-width: var(--global-aligncontent-width);
  margin-left: auto;
  margin-right: auto;
}
[class*=has-background] > [class*=inner-container] > [data-align=wide] {
  max-width: var(--global-alignwide-width);
  margin-left: auto;
  margin-right: auto;
}
[class*=has-background] > [class*=inner-container] > [data-align=full] {
  max-width: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-align=wide] > [data-block] > [class*=inner-container] > *:not([data-align=wide]):not([data-align=full]) {
  max-width: min(100%, var(--global-content-max-width));
  margin-left: auto;
  margin-right: auto;
}
[data-align=wide] > [class*=has-background] [class*=inner-container] > *:not([data-align=wide]):not([data-align=full]) {
  max-width: var(--global-aligncontent-width);
  margin-left: auto;
  margin-right: auto;
}

[data-align=full] [class*=inner-container] > *:not([data-align=wide]):not([data-align=full]) {
  max-width: var(--global-aligncontent-width);
  margin-left: auto;
  margin-right: auto;
}
[data-align=full] [class*=inner-container] > [data-align=wide] {
  max-width: var(--global-alignwide-width);
  margin-left: auto;
  margin-right: auto;
}

:root .is-extra-small-text,
:root .has-extra-small-font-size {
  font-size: var(--global-fs-xs);
}
:root .is-small-text,
:root .has-small-font-size {
  font-size: var(--global-fs-sm);
}
:root .has-medium-font-size {
  font-size: var(--global-fs-md);
}
:root .is-large-text,
:root .has-large-font-size {
  font-size: var(--global-fs-lg);
  line-height: var(--global-lh-heading);
}
:root .is-larger-text,
:root .has-larger-font-size,
:root .is-extra-large-text,
:root .has-extra-large-font-size {
  font-size: var(--global-fs-xl);
  line-height: var(--global-lh-heading);
}
:root .is-huge-text,
:root .has-huge-font-size {
  font-size: var(--global-fs-xxl);
  line-height: var(--global-lh-heading);
}
:root .is-gigantic-text,
:root .has-gigantic-font-size {
  font-size: var(--global-fs-xxxl);
  line-height: var(--global-lh-heading);
}

.has-black-color[class] {
  color: var(--global-cl-black);
}
.has-black-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-black, #000);
  color: var(--local-cl-text);
}

.has-dark-gray-color[class] {
  color: var(--global-cl-dark-gray);
}
.has-dark-gray-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-dark-gray, #28303d);
  color: var(--local-cl-text);
}

.has-gray-color[class] {
  color: var(--global-cl-gray);
}
.has-gray-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-gray, #39414d);
  color: var(--local-cl-text);
}

.has-light-gray-color[class] {
  color: var(--global-cl-light-gray);
}
.has-light-gray-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-light-gray, #f0f0f0);
  color: var(--local-cl-text);
}

.has-green-color[class] {
  color: var(--global-cl-green);
}
.has-green-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-green, #d1e4dd);
  color: var(--local-cl-text);
}

.has-blue-color[class] {
  color: var(--global-cl-blue);
}
.has-blue-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-blue, #d1dfe4);
  color: var(--local-cl-text);
}

.has-purple-color[class] {
  color: var(--global-cl-purple);
}
.has-purple-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-purple, #d1d1e4);
  color: var(--local-cl-text);
}

.has-red-color[class] {
  color: var(--global-cl-red);
}
.has-red-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-red, #e4d1d1);
  color: var(--local-cl-text);
}

.has-orange-color[class] {
  color: var(--global-cl-orange);
}
.has-orange-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-orange, #e4dad1);
  color: var(--local-cl-text);
}

.has-yellow-color[class] {
  color: var(--global-cl-yellow);
}
.has-yellow-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-yellow, #eeeadd);
  color: var(--local-cl-text);
}

.has-white-color[class] {
  color: var(--global-cl-white);
}
.has-white-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-white, #fff);
  color: var(--local-cl-text);
}

.has-black-background-color[class] {
  background-color: var(--global-cl-black);
}
.has-black-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-black, #000);
  background-color: var(--local-cl-bg);
}

.has-dark-gray-background-color[class] {
  background-color: var(--global-cl-dark-gray);
}
.has-dark-gray-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-dark-gray, #000);
  background-color: var(--local-cl-bg);
}

.has-gray-background-color[class] {
  background-color: var(--global-cl-gray);
}
.has-gray-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-gray, #000);
  background-color: var(--local-cl-bg);
}

.has-light-gray-background-color[class] {
  background-color: var(--global-cl-light-gray);
}
.has-light-gray-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-light-gray, #000);
  background-color: var(--local-cl-bg);
}

.has-green-background-color[class] {
  background-color: var(--global-cl-green);
}
.has-green-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-green, #fff);
  background-color: var(--local-cl-bg);
}

.has-blue-background-color[class] {
  background-color: var(--global-cl-blue);
}
.has-blue-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-blue, #fff);
  background-color: var(--local-cl-bg);
}

.has-purple-background-color[class] {
  background-color: var(--global-cl-purple);
}
.has-purple-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-purple, #fff);
  background-color: var(--local-cl-bg);
}

.has-red-background-color[class] {
  background-color: var(--global-cl-red);
}
.has-red-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-red, #fff);
  background-color: var(--local-cl-bg);
}

.has-orange-background-color[class] {
  background-color: var(--global-cl-orange);
}
.has-orange-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-orange, #fff);
  background-color: var(--local-cl-bg);
}

.has-yellow-background-color[class] {
  background-color: var(--global-cl-yellow);
}
.has-yellow-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-yellow, #fff);
  background-color: var(--local-cl-bg);
}

.has-white-background-color[class] {
  background-color: var(--global-cl-white);
}
.has-white-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-white, #fff);
  background-color: var(--local-cl-bg);
}

.has-black-to-gray-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-black), var(--global-cl-gray));
}

.has-purple-to-yellow-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-purple), var(--global-cl-yellow));
}

.has-yellow-to-purple-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-yellow), var(--global-cl-purple));
}

.has-green-to-yellow-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-green), var(--global-cl-yellow));
}

.has-yellow-to-green-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-yellow), var(--global-cl-green));
}

.has-red-to-yellow-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-red), var(--global-cl-yellow));
}

.has-yellow-to-red-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-yellow), var(--global-cl-red));
}

.has-purple-to-red-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-purple), var(--global-cl-red));
}

.has-red-to-purple-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-red), var(--global-cl-purple));
}

[class*=has-background] p,
[class*=has-background] h1,
[class*=has-background] h2,
[class*=has-background] h3,
[class*=has-background] h4,
[class*=has-background] h5,
[class*=has-background] h6 {
  color: currentColor;
}
[class*=has-background]:not(.has-text-color).has-black-background-color[class], [class*=has-background]:not(.has-text-color).has-dark-gray-background-color[class], [class*=has-background]:not(.has-text-color).has-gray-background-color[class], [class*=has-background]:not(.has-text-color).has-black-to-gray-gradient-background {
  color: var(--global-cl-white);
}
[class*=has-background]:not(.has-text-color).has-black-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-dark-gray-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-gray-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-black-to-gray-gradient-background > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-white, #fff);
  color: var(--local-cl-text);
}
[class*=has-background]:not(.has-text-color).has-light-gray-background-color[class], [class*=has-background]:not(.has-text-color).has-green-background-color[class], [class*=has-background]:not(.has-text-color).has-blue-background-color[class], [class*=has-background]:not(.has-text-color).has-purple-background-color[class], [class*=has-background]:not(.has-text-color).has-red-background-color[class], [class*=has-background]:not(.has-text-color).has-orange-background-color[class], [class*=has-background]:not(.has-text-color).has-yellow-background-color[class], [class*=has-background]:not(.has-text-color).has-white-background-color[class], [class*=has-background]:not(.has-text-color).has-purple-to-yellow-gradient-background {
  color: var(--global-cl-dark-gray, #000);
}
[class*=has-background]:not(.has-text-color).has-light-gray-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-green-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-blue-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-purple-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-red-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-orange-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-yellow-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-white-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-purple-to-yellow-gradient-background > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-dark-gray, #000);
  color: var(--local-cl-text);
}
[class*=has-background].has-black-background-color[class], [class*=has-background].has-dark-gray-background-color[class], [class*=has-background].has-gray-background-color[class], [class*=has-background].has-black-to-gray-gradient-background {
  --global-cl-text-secondary: var(--global-cl-text-secondary-dark);
  --global-cl-accent: var(--global-cl-accent-dark);
  --global-cl-on-accent: var(--global-cl-on-accent-dark);
  --links-cl-text: var(--links-cl-text-dark);
}
[class*=has-background].has-light-gray-background-color[class], [class*=has-background].has-green-background-color[class], [class*=has-background].has-blue-background-color[class], [class*=has-background].has-purple-background-color[class], [class*=has-background].has-red-background-color[class], [class*=has-background].has-orange-background-color[class], [class*=has-background].has-yellow-background-color[class], [class*=has-background].has-white-background-color[class], [class*=has-background].has-purple-to-yellow-gradient-background {
  --global-cl-text-secondary: var(--global-cl-text-secondary-light);
  --global-cl-accent: var(--global-cl-accent-light);
  --global-cl-on-accent: var(--global-cl-on-accent-light);
  --links-cl-text: var(--links-cl-text-light);
}