@charset "UTF-8";
#start-resizable-editor-section {
  display: none;
}

:root {
  --global-ff-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  --global-ff-secondary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  --global-fs-base: 18px;
  --global-ls: normal;
  --global-lh: 1.7;
  --global-fs-small: .882em;
  --global-fs-normal: 1em;
  --global-fs-large: 1.176em;
  --global-fs-larger: 1.294em;
  --global-cl-black: #000;
  --global-cl-white: #fff;
  --global-cl-white-50: rgba(255, 255, 255, 0.5);
  --global-cl-white-90: rgba(255, 255, 255, 0.9);
  --global-cl-dark-gray: #28303d;
  --global-cl-gray: #39414d;
  --global-cl-light-gray: #f0f0f0;
  --global-cl-green: #d1e4dd;
  --global-cl-blue: #d1dfe4;
  --global-cl-purple: #d1d1e4;
  --global-cl-red: #e4d1d1;
  --global-cl-orange: #e4dad1;
  --global-cl-yellow: #eeeadd;
  --global-cl-bg-light: var(--global-cl-white);
  --global-cl-text-primary-light: var(--global-cl-dark-gray);
  --global-cl-text-secondary-light: var(--global-cl-gray);
  --global-cl-accent-light: #5c6bc0;
  --global-cl-on-accent-light: var(--global-cl-white);
  --links-cl-text-light: var(--global-cl-accent-light);
  --global-cl-bg-dark: var(--global-cl-dark-gray);
  --global-cl-text-primary-dark: var(--global-cl-light-gray);
  --global-cl-text-secondary-dark: var(--global-cl-light-gray);
  --global-cl-accent-dark: #8c9eff;
  --global-cl-on-accent-dark: var(--global-cl-white);
  --links-cl-text-dark: currentColor;
  --global-cl-bg: var(--global-cl-bg-light);
  --global-cl-text-primary: var(--global-cl-text-primary-light);
  --global-cl-text-secondary: var(--global-cl-text-secondary-light);
  --global-cl-accent: var(--global-cl-accent-light);
  --global-cl-on-accent: var(--global-cl-on-accent-light);
  --global-cl-border: var(--global-cl-text-secondary);
  --global-spacing-unit: 20px;
  --global-spacing-h: 20px;
  --global-spacing-v: 25px;
  --global-spacing-v-responsive: calc(0.666 * var(--global-spacing-v));
  --global-spacing-h-responsive: calc(0.666 * var(--global-spacing-h));
  --global-content-max-width: 610px;
  --global-wide-max-width: 1240px;
  --global-aligncontent-width: min(calc(100% - 2 * var(--global-spacing-h-responsive)), var(--global-content-max-width));
  --global-alignwide-width: min(calc(100% - 2 * var(--global-spacing-h-responsive)), var(--global-wide-max-width));
  --global-alignright-margin: calc(0.5 * (100% - var(--global-aligncontent-width)));
  --global-alignleft-margin: calc(0.5 * (100% - var(--global-aligncontent-width)));
  --global-content-max-width: 610px;
  --global-wide-max-width: 1240px;
  --global-aligncontent-width: min(calc(100% - 2 * var(--global-spacing-h-responsive)), var(--global-content-max-width));
  --global-alignwide-width: min(calc(100% - 2 * var(--global-spacing-h-responsive)), var(--global-wide-max-width));
  --global-alignright-margin: calc(0.5 * (100% - var(--global-aligncontent-width)));
  --global-alignleft-margin: calc(0.5 * (100% - var(--global-aligncontent-width)));
  --global-elevation-1: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  --global-elevation-2: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  --global-elevation-3: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
  --heading-ff: var(--global-ff-primary);
  --heading-lh: 1.3;
  --heading-fw: normal;
  --heading-fw-strong: 600;
  --heading-fs-h1: var(--global-fs-larger);
  --heading-fs-h2: var(--global-fs-larger);
  --heading-fs-h3: var(--global-fs-large);
  --heading-fs-h4: var(--global-fs-normal);
  --heading-fs-h5: var(--global-fs-normal);
  --heading-fs-h6: var(--global-fs-normal);
  --heading-ls-h6: 0.05em;
  --heading-ls-h5: 0.05em;
  --heading-ls-h4: var(--global-ls);
  --heading-ls-h3: var(--global-ls);
  --heading-ls-h2: var(--global-ls);
  --heading-ls-h1: var(--global-ls);
  --button-ff: var(--global-ff-primary);
  --button-fs: var(--global-fs-normal);
  --button-fw: 500;
  --button-lh: 1.5;
  --button-border-width: 2px;
  --button-border-radius: 0;
  --button-padding-v: 10px;
  --button-padding-h: calc(1.25 * var(--button-padding-v));
  --button-shadow: var(--global-elevation-1);
  --button-shadow-hover: var(--global-elevation-2);
  --button-shadow-active: var(--global-elevation-3);
  --form-fs: var(--global-fs-small);
  --form-lh: var(--global-lh);
  --form-cl-text: var(--global-cl-dark-gray);
  --form-cl-ranged: var(--global-cl-text-primary);
  --form-weight-label: 500;
  --form-cl-border: var(--global-cl-border);
  --form-width-border: 2px;
  --form-border-radius: 0;
  --form-spacing-unit: calc(0.5 * var(--global-spacing-unit));
  --links-cl-text: var(--links-cl-text-light);
  --list-ff: var(--global-ff-secondary);
  /* Block: Latest posts */
  --latest-posts-ff-title: var(--heading-ff);
  --latest-posts-fs-title: var(--heading-fs-h3);
  --latest-posts-fs-content: var(--global-fs-base);
  --latest-posts-shadow: var(--global-elevation-1);
  --latest-posts-shadow-hover: var(--global-elevation-2);
  /* Block: Pull quote */
  --pullquote-ff: var(--global-ff-primary);
  --pullquote-fs: var(--global-fs-larger);
  --pullquote-lh: var(--heading-lh);
  --pullquote-font-style: italic;
  /* Block: Quote */
  --quote-fs: var(--global-fs-base);
  --quote-fs-large: var(--global-fs-larger);
  --quote-font-style: italic;
  --quote-font-style-large: italic;
  --quote-lh: var(--global-lh);
  --quote-lh-large: 1.35;
  /* Block: Separator */
  --separator-height: 2px;
  /* Block: Table */
  --table-cl-stripes-border: var(--global-cl-light-gray);
  --table-cl-stripes-background: var(--global-cl-light-gray);
  --table-cl-has-background-text: var(--global-cl-dark-gray);
  /* Admin-bar height */
  --global-admin-bar-height: 0;
}
@media (min-width: 600px) {
  :root {
    --global-spacing-v-responsive: var(--global-spacing-v);
    --global-spacing-h-responsive: var(--global-spacing-h);
  }
}

#end-resizable-editor-section {
  display: none;
}

.block-editor-button-block-appender {
  color: currentColor;
  box-shadow: inset 0 0 0 1px currentColor;
}

.wp-block-group .wp-block:hover::before,
.wp-block-cover .wp-block:hover::before,
.wp-block-columns .wp-block:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  pointer-events: none;
  border: 1px dashed var(--wp-admin-theme-color-darker-20);
  position: absolute;
  top: 0;
  left: 0;
}
.wp-block-group .wp-block:hover::after,
.wp-block-cover .wp-block:hover::after,
.wp-block-columns .wp-block:hover::after {
  content: attr(data-title);
  position: absolute;
  top: -20px;
  left: unset;
  right: 0;
  padding: 0 8px;
  font-size: 11px;
  background: var(--wp-admin-theme-color-darker-20);
  color: #fff;
  display: inline-block;
  height: 20px;
}

.editor-styles-wrapper[class] {
  font-family: var(--global-ff-secondary);
  font-size: var(--global-fs-base);
  line-height: var(--global-lh);
  background-color: var(--global-cl-bg);
  color: var(--global-cl-text-primary);
  font-weight: normal;
}

.wp-block.editor-post-title__block {
  max-width: var(--global-alignwide-width);
  font-family: var(--heading-ff);
}
.wp-block.editor-post-title__block .editor-post-title__input {
  font-size: 2.5em;
  font-weight: var(--heading-fw);
  line-height: var(--heading-lh);
}

div.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > [data-block],
div.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > [data-align=wide],
div.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > [data-align=full],
div.editor-styles-wrapper [class*=inner-container] > [data-block],
div.editor-styles-wrapper [class*=inner-container] > [data-align=wide],
div.editor-styles-wrapper [class*=inner-container] > [data-align=full],
div.editor-styles-wrapper .wp-block-column > [data-block],
div.editor-styles-wrapper .wp-block-column > [data-align=wide],
div.editor-styles-wrapper .wp-block-column > [data-align=full],
div.editor-styles-wrapper .wp-block-media-text__content > [data-block],
div.editor-styles-wrapper .wp-block-media-text__content > [data-align=wide],
div.editor-styles-wrapper .wp-block-media-text__content > [data-align=full] {
  margin-top: 0;
  margin-bottom: var(--global-spacing-v-responsive);
}
div.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > [data-block]:last-child:not(.block-list-appender),
div.editor-styles-wrapper [class*=inner-container] > [data-block]:last-child:not(.block-list-appender),
div.editor-styles-wrapper .wp-block-column > [data-block]:last-child:not(.block-list-appender),
div.editor-styles-wrapper .wp-block-media-text__content > [data-block]:last-child:not(.block-list-appender) {
  margin-bottom: 0;
}

.wp-block {
  max-width: 100%;
}

.wp-block[data-align=wide] {
  max-width: none;
}

.block-editor-block-list__layout.is-root-container > * {
  max-width: var(--global-aligncontent-width);
  margin-left: auto;
  margin-right: auto;
}

.block-editor-block-list__layout.is-root-container > .wp-block[data-align=wide], .block-editor-block-list__layout.is-root-container > .wp-block.alignwide {
  max-width: var(--global-alignwide-width);
}
.block-editor-block-list__layout.is-root-container > .wp-block[data-align=full], .block-editor-block-list__layout.is-root-container > .wp-block.alignfull {
  max-width: none;
}

.aligncenter img {
  margin-left: auto;
  margin-right: auto;
}

.wp-block[data-align=left] > *:not(.is-resized),
.wp-block[data-align=right] > *:not(.is-resized) {
  width: 100%;
  text-align: center;
  max-width: 50%;
}

.wp-block[data-align=left] > * {
  margin-right: var(--global-spacing-h-responsive);
}

.wp-block[data-align=right] > * {
  margin-left: var(--global-spacing-h-responsive);
}

.wp-block[data-align=left] figcaption,
.wp-block[data-align=right] figcaption {
  margin-bottom: 0;
}

[class*=inner-container]:after {
  clear: both;
  content: "";
  display: block;
}

[class*=has-background] > [class*=inner-container] > *:not([data-align=wide]):not([data-align=full]) {
  max-width: var(--global-aligncontent-width);
  margin-left: auto;
  margin-right: auto;
}
[class*=has-background] > [class*=inner-container] > [data-align=wide] {
  max-width: var(--global-alignwide-width);
  margin-left: auto;
  margin-right: auto;
}
[class*=has-background] > [class*=inner-container] > [data-align=full] {
  max-width: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-align=wide] > [data-block] > [class*=inner-container] > *:not([data-align=wide]):not([data-align=full]) {
  max-width: min(100%, var(--global-content-max-width));
  margin-left: auto;
  margin-right: auto;
}
[data-align=wide] > [class*=has-background] [class*=inner-container] > *:not([data-align=wide]):not([data-align=full]) {
  max-width: var(--global-aligncontent-width);
  margin-left: auto;
  margin-right: auto;
}

[data-align=full] [class*=inner-container] > *:not([data-align=wide]):not([data-align=full]) {
  max-width: var(--global-aligncontent-width);
  margin-left: auto;
  margin-right: auto;
}
[data-align=full] [class*=inner-container] > [data-align=wide] {
  max-width: var(--global-alignwide-width);
  margin-left: auto;
  margin-right: auto;
}

div.editor-styles-wrapper {
  /* Make sure embeds and iframes fit their containers. */
  /* Media captions */
  /* WP Smiley */
}
div.editor-styles-wrapper abbr,
div.editor-styles-wrapper acronym {
  cursor: help;
}
div.editor-styles-wrapper b,
div.editor-styles-wrapper strong {
  font-weight: 700;
}
div.editor-styles-wrapper dfn,
div.editor-styles-wrapper cite,
div.editor-styles-wrapper em,
div.editor-styles-wrapper i {
  font-style: italic;
}
div.editor-styles-wrapper pre {
  white-space: pre;
  overflow-x: auto;
}
div.editor-styles-wrapper hr {
  clear: both;
  border-style: none;
  border-bottom: var(--separator-height) solid var(--separator-cl-border);
  margin-left: auto;
  margin-right: auto;
}
div.editor-styles-wrapper sub,
div.editor-styles-wrapper sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
div.editor-styles-wrapper sup {
  top: -0.5em;
}
div.editor-styles-wrapper sub {
  bottom: -0.25em;
}
div.editor-styles-wrapper blockquote {
  quotes: "" "";
  position: relative;
  font-style: italic;
}
div.editor-styles-wrapper blockquote:before {
  content: "\201D";
  font-family: serif;
  display: block;
  font-weight: 700;
  font-style: normal;
  color: currentColor;
  font-size: 3em;
  height: 0.4em;
  line-height: 0.75;
}
div.editor-styles-wrapper blockquote cite {
  display: block;
  margin-top: 0.5rem;
  font-style: normal;
  color: var(--global-cl-text-secondary);
}
div.editor-styles-wrapper blockquote cite:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 1px;
  width: 32px;
  margin-right: 8px;
  background-color: currentColor;
}
div.editor-styles-wrapper table {
  width: 100%;
  color: inherit;
  border: 1px solid;
  border-collapse: collapse;
}
div.editor-styles-wrapper caption {
  text-align: left;
}
div.editor-styles-wrapper pre,
div.editor-styles-wrapper code,
div.editor-styles-wrapper kbd,
div.editor-styles-wrapper tt,
div.editor-styles-wrapper var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}
div.editor-styles-wrapper pre,
div.editor-styles-wrapper pre code {
  word-wrap: normal;
  white-space: pre-wrap;
  line-height: 1.5;
}
div.editor-styles-wrapper code {
  background: var(--global-cl-light-gray);
  color: var(--global-cl-black);
  border-radius: 0.2rem;
}
div.editor-styles-wrapper pre {
  overflow: auto;
}
div.editor-styles-wrapper pre code {
  background: transparent;
  color: inherit;
  padding: 0;
}
div.editor-styles-wrapper figure {
  margin: 0;
}
div.editor-styles-wrapper iframe {
  border: none;
  display: block;
  max-width: 100%;
}
div.editor-styles-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}
div.editor-styles-wrapper embed,
div.editor-styles-wrapper iframe,
div.editor-styles-wrapper object,
div.editor-styles-wrapper video {
  max-width: 100%;
}
div.editor-styles-wrapper video {
  vertical-align: middle;
}
div.editor-styles-wrapper figcaption,
div.editor-styles-wrapper .align-wrap figcaption,
div.editor-styles-wrapper .wp-caption,
div.editor-styles-wrapper .wp-caption-text {
  color: var(--global-cl-text-secondary);
  font-size: var(--global-fs-small);
  line-height: var(--global-lh);
  margin-top: calc(0.5 * var(--global-spacing-unit));
  margin-bottom: var(--global-spacing-unit);
  text-align: center;
}
div.editor-styles-wrapper figcaption a {
  color: inherit;
}
div.editor-styles-wrapper .alignleft figcaption,
div.editor-styles-wrapper .alignright figcaption {
  margin-bottom: 0;
}
div.editor-styles-wrapper .page-content .wp-smiley,
div.editor-styles-wrapper .entry-content .wp-smiley,
div.editor-styles-wrapper .comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
div.editor-styles-wrapper a {
  cursor: pointer;
  color: var(--links-cl-text);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  transition: all 0.15s linear;
}
div.editor-styles-wrapper a:hover, div.editor-styles-wrapper a:focus {
  text-decoration: none;
}
div.editor-styles-wrapper ul,
div.editor-styles-wrapper ol {
  font-family: var(--list-ff);
  padding-left: var(--global-spacing-h-responsive);
  margin: 0;
}
div.editor-styles-wrapper ul {
  list-style-type: disc;
}
div.editor-styles-wrapper ul ul {
  list-style-type: circle;
}
div.editor-styles-wrapper ol {
  list-style-type: decimal;
}
div.editor-styles-wrapper ol ul {
  list-style-type: circle;
}
div.editor-styles-wrapper .wp-block-archives,
div.editor-styles-wrapper .wp-block-categories,
div.editor-styles-wrapper .wp-block-categories > .wp-block-categories__list,
div.editor-styles-wrapper .wp-block-latest-posts,
div.editor-styles-wrapper .wp-block-latest-comments {
  list-style: none;
  padding-left: 0;
}
div.editor-styles-wrapper .wp-block-archives ul,
div.editor-styles-wrapper .wp-block-archives ol,
div.editor-styles-wrapper .wp-block-categories ul,
div.editor-styles-wrapper .wp-block-categories ol,
div.editor-styles-wrapper .wp-block-categories > .wp-block-categories__list ul,
div.editor-styles-wrapper .wp-block-categories > .wp-block-categories__list ol,
div.editor-styles-wrapper .wp-block-latest-posts ul,
div.editor-styles-wrapper .wp-block-latest-posts ol,
div.editor-styles-wrapper .wp-block-latest-comments ul,
div.editor-styles-wrapper .wp-block-latest-comments ol {
  list-style: inherit;
}
div.editor-styles-wrapper .wp-block-archives li,
div.editor-styles-wrapper .wp-block-categories li,
div.editor-styles-wrapper .wp-block-categories > .wp-block-categories__list li {
  padding: 0.25em 0;
}
div.editor-styles-wrapper .wp-block-archives li > a,
div.editor-styles-wrapper .wp-block-categories li > a,
div.editor-styles-wrapper .wp-block-categories > .wp-block-categories__list li > a {
  text-decoration: none;
}
div.editor-styles-wrapper .wp-block-archives li > a:hover,
div.editor-styles-wrapper .wp-block-categories li > a:hover,
div.editor-styles-wrapper .wp-block-categories > .wp-block-categories__list li > a:hover {
  text-decoration: underline;
}
div.editor-styles-wrapper h1,
div.editor-styles-wrapper .h1,
div.editor-styles-wrapper h2,
div.editor-styles-wrapper .h2,
div.editor-styles-wrapper h3,
div.editor-styles-wrapper .h3,
div.editor-styles-wrapper h4,
div.editor-styles-wrapper .h4,
div.editor-styles-wrapper h5,
div.editor-styles-wrapper .h5,
div.editor-styles-wrapper h6,
div.editor-styles-wrapper .h6 {
  clear: both;
  font-family: var(--heading-ff);
  font-weight: var(--heading-fw);
  line-height: var(--heading-lh);
}
div.editor-styles-wrapper h1 strong,
div.editor-styles-wrapper .h1 strong,
div.editor-styles-wrapper h2 strong,
div.editor-styles-wrapper .h2 strong,
div.editor-styles-wrapper h3 strong,
div.editor-styles-wrapper .h3 strong,
div.editor-styles-wrapper h4 strong,
div.editor-styles-wrapper .h4 strong,
div.editor-styles-wrapper h5 strong,
div.editor-styles-wrapper .h5 strong,
div.editor-styles-wrapper h6 strong,
div.editor-styles-wrapper .h6 strong {
  font-weight: var(--heading-fw-strong);
}
div.editor-styles-wrapper h1,
div.editor-styles-wrapper .h1 {
  font-size: var(--heading-fs-h1);
  letter-spacing: var(--heading-letter-spacing-h1);
}
div.editor-styles-wrapper h2,
div.editor-styles-wrapper .h2 {
  font-size: var(--heading-fs-h2);
  letter-spacing: var(--heading-letter-spacing-h2);
}
div.editor-styles-wrapper h3,
div.editor-styles-wrapper .h3 {
  font-size: var(--heading-fs-h3);
  letter-spacing: var(--heading-letter-spacing-h3);
}
div.editor-styles-wrapper h4,
div.editor-styles-wrapper .h4 {
  font-size: var(--heading-fs-h4);
  font-weight: var(--heading-fw-strong);
  letter-spacing: var(--heading-letter-spacing-h4);
}
div.editor-styles-wrapper h5,
div.editor-styles-wrapper .h5 {
  font-size: var(--heading-fs-h5);
  font-weight: var(--heading-fw-strong);
  letter-spacing: var(--heading-letter-spacing-h5);
}
div.editor-styles-wrapper h6,
div.editor-styles-wrapper .h6 {
  font-size: var(--heading-fs-h6);
  font-weight: var(--heading-fw-strong);
  letter-spacing: var(--heading-letter-spacing-h6);
}
div.editor-styles-wrapper .wp-block-archives li::before {
  content: "\2014";
  margin-right: 0.25em;
}
div.editor-styles-wrapper .wp-block-buttons .wp-block-button {
  margin: 0.5em;
  margin-left: 0;
}
div.editor-styles-wrapper .wp-block-buttons .wp-block-button:last-child {
  margin-right: 0;
}
div.editor-styles-wrapper .wp-block-buttons .wp-block-button:first-child:last-child {
  margin: 0;
}
div.editor-styles-wrapper .wp-block-buttons .wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-text-color):not(.has-background):hover, div.editor-styles-wrapper .wp-block-buttons .wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-text-color):not(.has-background):focus, div.editor-styles-wrapper .wp-block-buttons .wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-text-color):not(.has-background):active, div.editor-styles-wrapper .wp-block-buttons .wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-text-color):not(.has-background):visited {
  color: var(--global-cl-on-accent);
}
div.editor-styles-wrapper .wp-block-buttons .wp-block-button.is-style-outline .wp-block-button__link {
  border-color: currentColor;
  box-shadow: none;
  border: var(--button-border-width) solid;
}
div.editor-styles-wrapper .wp-block-buttons .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
  color: var(--global-cl-accent);
}
div.editor-styles-wrapper .wp-block-calendar {
  text-align: inherit;
}
div.editor-styles-wrapper .wp-block-calendar caption {
  font-size: var(--global-fs-small);
  font-weight: 700;
  text-transform: uppercase;
  caption-side: top;
  margin-bottom: 0.5em;
}
div.editor-styles-wrapper .wp-block-calendar table {
  text-align: center;
}
div.editor-styles-wrapper .wp-block-calendar table caption,
div.editor-styles-wrapper .wp-block-calendar table tbody {
  color: inherit;
}
div.editor-styles-wrapper .wp-block-calendar th,
div.editor-styles-wrapper .wp-block-calendar td {
  width: auto;
  height: 2em;
  padding: 0;
  vertical-align: middle;
}
div.editor-styles-wrapper .wp-block-calendar thead th {
  font-size: var(--global-fs-small);
  font-weight: 700;
  background: var(--global-cl-accent);
  color: var(--global-cl-on-accent);
}
div.editor-styles-wrapper .wp-block-calendar tbody a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  line-height: 2;
  background: var(--global-cl-accent);
  color: var(--global-cl-on-accent);
  transition: background 0.3s;
}
div.editor-styles-wrapper .wp-block-calendar tbody a:focus {
  outline-color: var(--global-cl-accent);
}
div.editor-styles-wrapper .wp-block-calendar .wp-calendar-nav {
  margin-top: 0.5em;
  font-size: var(--global-fs-small);
  font-weight: 700;
  text-align: inherit;
  text-transform: uppercase;
}
div.editor-styles-wrapper .wp-block-calendar .wp-calendar-nav a {
  text-decoration: none;
  transition: all 0.15s linear;
}
div.editor-styles-wrapper .wp-block-calendar .wp-calendar-nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
div.editor-styles-wrapper .wp-block-calendar.is-style-themesetup-calendar-separate table {
  border-collapse: separate;
  border-width: 0;
}
div.editor-styles-wrapper .wp-block-calendar.is-style-themesetup-calendar-separate thead th {
  border-width: 0;
}
div.editor-styles-wrapper .wp-block-calendar.is-style-themesetup-calendar-separate .pad {
  visibility: hidden;
}
div.editor-styles-wrapper .wp-block-categories {
  font-size: 0.875em;
}
div.editor-styles-wrapper .wp-block-categories a {
  text-transform: uppercase;
  color: inherit;
}
div.editor-styles-wrapper .wp-block-code {
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: currentColor;
}
div.editor-styles-wrapper .wp-block-code code,
div.editor-styles-wrapper .wp-block-code textarea {
  display: block;
  padding: 22px 21px 20px;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  background-image: repeating-linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 21px, rgba(255, 255, 255, 0.1) 21px, rgba(255, 255, 255, 0.1) 42px);
}
div.editor-styles-wrapper .has-black-color[class] {
  color: var(--global-cl-black);
}
div.editor-styles-wrapper .has-black-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-black, #000);
  color: var(--local-cl-text);
}
div.editor-styles-wrapper .has-dark-gray-color[class] {
  color: var(--global-cl-dark-gray);
}
div.editor-styles-wrapper .has-dark-gray-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-dark-gray, #28303d);
  color: var(--local-cl-text);
}
div.editor-styles-wrapper .has-gray-color[class] {
  color: var(--global-cl-gray);
}
div.editor-styles-wrapper .has-gray-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-gray, #39414d);
  color: var(--local-cl-text);
}
div.editor-styles-wrapper .has-light-gray-color[class] {
  color: var(--global-cl-light-gray);
}
div.editor-styles-wrapper .has-light-gray-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-light-gray, #f0f0f0);
  color: var(--local-cl-text);
}
div.editor-styles-wrapper .has-green-color[class] {
  color: var(--global-cl-green);
}
div.editor-styles-wrapper .has-green-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-green, #d1e4dd);
  color: var(--local-cl-text);
}
div.editor-styles-wrapper .has-blue-color[class] {
  color: var(--global-cl-blue);
}
div.editor-styles-wrapper .has-blue-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-blue, #d1dfe4);
  color: var(--local-cl-text);
}
div.editor-styles-wrapper .has-purple-color[class] {
  color: var(--global-cl-purple);
}
div.editor-styles-wrapper .has-purple-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-purple, #d1d1e4);
  color: var(--local-cl-text);
}
div.editor-styles-wrapper .has-red-color[class] {
  color: var(--global-cl-red);
}
div.editor-styles-wrapper .has-red-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-red, #e4d1d1);
  color: var(--local-cl-text);
}
div.editor-styles-wrapper .has-orange-color[class] {
  color: var(--global-cl-orange);
}
div.editor-styles-wrapper .has-orange-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-orange, #e4dad1);
  color: var(--local-cl-text);
}
div.editor-styles-wrapper .has-yellow-color[class] {
  color: var(--global-cl-yellow);
}
div.editor-styles-wrapper .has-yellow-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-yellow, #eeeadd);
  color: var(--local-cl-text);
}
div.editor-styles-wrapper .has-white-color[class] {
  color: var(--global-cl-white);
}
div.editor-styles-wrapper .has-white-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-white, #fff);
  color: var(--local-cl-text);
}
div.editor-styles-wrapper .has-black-background-color[class] {
  background-color: var(--global-cl-black);
}
div.editor-styles-wrapper .has-black-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-black, #000);
  background-color: var(--local-cl-bg);
}
div.editor-styles-wrapper .has-dark-gray-background-color[class] {
  background-color: var(--global-cl-dark-gray);
}
div.editor-styles-wrapper .has-dark-gray-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-dark-gray, #000);
  background-color: var(--local-cl-bg);
}
div.editor-styles-wrapper .has-gray-background-color[class] {
  background-color: var(--global-cl-gray);
}
div.editor-styles-wrapper .has-gray-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-gray, #000);
  background-color: var(--local-cl-bg);
}
div.editor-styles-wrapper .has-light-gray-background-color[class] {
  background-color: var(--global-cl-light-gray);
}
div.editor-styles-wrapper .has-light-gray-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-light-gray, #000);
  background-color: var(--local-cl-bg);
}
div.editor-styles-wrapper .has-green-background-color[class] {
  background-color: var(--global-cl-green);
}
div.editor-styles-wrapper .has-green-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-green, #fff);
  background-color: var(--local-cl-bg);
}
div.editor-styles-wrapper .has-blue-background-color[class] {
  background-color: var(--global-cl-blue);
}
div.editor-styles-wrapper .has-blue-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-blue, #fff);
  background-color: var(--local-cl-bg);
}
div.editor-styles-wrapper .has-purple-background-color[class] {
  background-color: var(--global-cl-purple);
}
div.editor-styles-wrapper .has-purple-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-purple, #fff);
  background-color: var(--local-cl-bg);
}
div.editor-styles-wrapper .has-red-background-color[class] {
  background-color: var(--global-cl-red);
}
div.editor-styles-wrapper .has-red-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-red, #fff);
  background-color: var(--local-cl-bg);
}
div.editor-styles-wrapper .has-orange-background-color[class] {
  background-color: var(--global-cl-orange);
}
div.editor-styles-wrapper .has-orange-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-orange, #fff);
  background-color: var(--local-cl-bg);
}
div.editor-styles-wrapper .has-yellow-background-color[class] {
  background-color: var(--global-cl-yellow);
}
div.editor-styles-wrapper .has-yellow-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-yellow, #fff);
  background-color: var(--local-cl-bg);
}
div.editor-styles-wrapper .has-white-background-color[class] {
  background-color: var(--global-cl-white);
}
div.editor-styles-wrapper .has-white-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-white, #fff);
  background-color: var(--local-cl-bg);
}
div.editor-styles-wrapper .has-black-to-gray-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-black), var(--global-cl-gray));
}
div.editor-styles-wrapper .has-purple-to-yellow-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-purple), var(--global-cl-yellow));
}
div.editor-styles-wrapper .has-yellow-to-purple-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-yellow), var(--global-cl-purple));
}
div.editor-styles-wrapper .has-green-to-yellow-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-green), var(--global-cl-yellow));
}
div.editor-styles-wrapper .has-yellow-to-green-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-yellow), var(--global-cl-green));
}
div.editor-styles-wrapper .has-red-to-yellow-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-red), var(--global-cl-yellow));
}
div.editor-styles-wrapper .has-yellow-to-red-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-yellow), var(--global-cl-red));
}
div.editor-styles-wrapper .has-purple-to-red-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-purple), var(--global-cl-red));
}
div.editor-styles-wrapper .has-red-to-purple-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-red), var(--global-cl-purple));
}
div.editor-styles-wrapper [class*=has-background] p,
div.editor-styles-wrapper [class*=has-background] h1,
div.editor-styles-wrapper [class*=has-background] h2,
div.editor-styles-wrapper [class*=has-background] h3,
div.editor-styles-wrapper [class*=has-background] h4,
div.editor-styles-wrapper [class*=has-background] h5,
div.editor-styles-wrapper [class*=has-background] h6 {
  color: currentColor;
}
div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-black-background-color[class], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-dark-gray-background-color[class], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-gray-background-color[class], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-black-to-gray-gradient-background {
  color: var(--global-cl-white);
}
div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-black-background-color[class] > [class*=__inner-container], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-dark-gray-background-color[class] > [class*=__inner-container], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-gray-background-color[class] > [class*=__inner-container], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-black-to-gray-gradient-background > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-white, #fff);
  color: var(--local-cl-text);
}
div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-light-gray-background-color[class], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-green-background-color[class], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-blue-background-color[class], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-purple-background-color[class], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-red-background-color[class], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-orange-background-color[class], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-yellow-background-color[class], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-white-background-color[class], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-purple-to-yellow-gradient-background, div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-yellow-to-purple-gradient-background, div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-green-to-yellow-gradient-background, div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-yellow-to-green-gradient-background, div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-red-to-yellow-gradient-background, div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-yellow-to-red-gradient-background, div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-purple-to-red-gradient-background, div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-red-to-purple-gradient-background {
  color: var(--global-cl-dark-gray, #000);
}
div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-light-gray-background-color[class] > [class*=__inner-container], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-green-background-color[class] > [class*=__inner-container], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-blue-background-color[class] > [class*=__inner-container], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-purple-background-color[class] > [class*=__inner-container], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-red-background-color[class] > [class*=__inner-container], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-orange-background-color[class] > [class*=__inner-container], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-yellow-background-color[class] > [class*=__inner-container], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-white-background-color[class] > [class*=__inner-container], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-purple-to-yellow-gradient-background > [class*=__inner-container], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-yellow-to-purple-gradient-background > [class*=__inner-container], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-green-to-yellow-gradient-background > [class*=__inner-container], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-yellow-to-green-gradient-background > [class*=__inner-container], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-red-to-yellow-gradient-background > [class*=__inner-container], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-yellow-to-red-gradient-background > [class*=__inner-container], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-purple-to-red-gradient-background > [class*=__inner-container], div.editor-styles-wrapper [class*=has-background]:not(.has-text-color).has-red-to-purple-gradient-background > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-dark-gray, #000);
  color: var(--local-cl-text);
}
div.editor-styles-wrapper [class*=has-background].has-black-background-color[class], div.editor-styles-wrapper [class*=has-background].has-dark-gray-background-color[class], div.editor-styles-wrapper [class*=has-background].has-gray-background-color[class], div.editor-styles-wrapper [class*=has-background].has-black-to-gray-gradient-background {
  --global-cl-text-secondary: var(--global-cl-text-secondary-dark);
  --global-cl-accent: var(--global-cl-accent-dark);
  --global-cl-on-accent: var(--global-cl-on-accent-dark);
  --links-cl-text: var(--links-cl-text-dark);
}
div.editor-styles-wrapper [class*=has-background].has-light-gray-background-color[class], div.editor-styles-wrapper [class*=has-background].has-green-background-color[class], div.editor-styles-wrapper [class*=has-background].has-blue-background-color[class], div.editor-styles-wrapper [class*=has-background].has-purple-background-color[class], div.editor-styles-wrapper [class*=has-background].has-red-background-color[class], div.editor-styles-wrapper [class*=has-background].has-orange-background-color[class], div.editor-styles-wrapper [class*=has-background].has-yellow-background-color[class], div.editor-styles-wrapper [class*=has-background].has-white-background-color[class], div.editor-styles-wrapper [class*=has-background].has-purple-to-yellow-gradient-background {
  --global-cl-text-secondary: var(--global-cl-text-secondary-light);
  --global-cl-accent: var(--global-cl-accent-light);
  --global-cl-on-accent: var(--global-cl-on-accent-light);
  --links-cl-text: var(--links-cl-text-light);
}
div.editor-styles-wrapper .has-drop-cap:not(:focus):first-letter {
  color: var(--global-cl-accent);
  font-size: 5.2em;
  font-weight: 700;
  margin: 0.09em 1rem 0.5rem 0;
}
div.editor-styles-wrapper .has-drop-cap.has-text-color:not(:focus):first-letter {
  color: inherit;
}
div.editor-styles-wrapper .has-small-font-size {
  font-size: 0.882em;
}
div.editor-styles-wrapper .has-regular-font-size,
div.editor-styles-wrapper .has-normal-font-size {
  font-size: 1em;
}
div.editor-styles-wrapper .has-large-font-size {
  font-size: 1.176em;
}
div.editor-styles-wrapper .has-larger-font-size {
  font-size: 1.294em;
}

.wp-block-button__link {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-flex;
  justify-content: center;
  line-height: var(--button-lh);
  font-weight: var(--button-fw);
  font-family: var(--button-ff);
  font-size: var(--button-fs);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding-v) var(--button-padding-h);
  cursor: pointer;
  box-shadow: var(--button-shadow);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear, background-color 15ms linear;
  text-decoration: none;
  border-style: solid;
  border-width: var(--button-border-width);
  border-color: transparent;
  background-color: var(--global-cl-accent);
  color: var(--global-cl-on-accent);
}
.wp-block-button__link:hover, .wp-block-button__link:focus {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  box-shadow: var(--button-shadow-hover);
}
.wp-block-button__link:focus-visible {
  outline-offset: -5px;
}
.wp-block-button__link:active {
  box-shadow: var(--button-shadow-active);
}

.wp-block-file .wp-block-file__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-flex;
  justify-content: center;
  line-height: var(--button-lh);
  font-weight: var(--button-fw);
  font-family: var(--button-ff);
  font-size: var(--button-fs);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding-v) var(--button-padding-h);
  cursor: pointer;
  box-shadow: var(--button-shadow);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear, background-color 15ms linear;
  text-decoration: none;
  border-style: solid;
  border-width: var(--button-border-width);
  border-color: transparent;
  background: var(--global-cl-accent);
  color: var(--global-cl-on-accent);
}
.wp-block-file .wp-block-file__button:hover, .wp-block-file .wp-block-file__button:focus {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  box-shadow: var(--button-shadow-hover);
}
.wp-block-file .wp-block-file__button:focus-visible {
  outline-offset: -5px;
}
.wp-block-file .wp-block-file__button:active {
  box-shadow: var(--button-shadow-active);
}

.wp-block-search .wp-block-search__button.wp-block-search__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-flex;
  justify-content: center;
  line-height: var(--button-lh);
  font-weight: var(--button-fw);
  font-family: var(--button-ff);
  font-size: var(--button-fs);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding-v) var(--button-padding-h);
  cursor: pointer;
  box-shadow: var(--button-shadow);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear, background-color 15ms linear;
  text-decoration: none;
  border-style: solid;
  border-width: var(--button-border-width);
  border-color: transparent;
  background-color: var(--global-cl-accent);
  color: var(--global-cl-on-accent);
}
.wp-block-search .wp-block-search__button.wp-block-search__button:hover, .wp-block-search .wp-block-search__button.wp-block-search__button:focus {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  box-shadow: var(--button-shadow-hover);
}
.wp-block-search .wp-block-search__button.wp-block-search__button:focus-visible {
  outline-offset: -5px;
}
.wp-block-search .wp-block-search__button.wp-block-search__button:active {
  box-shadow: var(--button-shadow-active);
}