@charset "UTF-8";
/**
 * Responsive Styles
 */
/**
 * Required Variables
 */
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
img {
  display: block;
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Disable smooth scrolling for users that have opted in to reduced motion in their browser settings. */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  * {
    -webkit-animation-duration: 0s !important;
            animation-duration: 0s !important;
    transition-duration: 0s !important;
  }

  .bg-attachment-fixed {
    background-attachment: scroll;
  }
}
/* Screen Reader Text */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Skip Link */
.skip-link {
  left: -9999rem;
  top: 2.5rem;
  z-index: 999999999;
  text-decoration: underline;
}

.skip-link:focus {
  display: block;
  left: 6px;
  top: 7px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  line-height: normal;
  padding: 15px 23px 14px;
  z-index: 100000;
  right: auto;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

@media only screen and (min-width: 1024px) {
  .has-sidebar.has-sidebar--below .content-area {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 1rem;
    justify-content: center;
  }
  .has-sidebar.has-sidebar--below .widget-area {
    grid-column: 2;
    grid-row: 1;
  }
}

.has-sidebar.has-sidebar--toggle .widget-area {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .has-sidebar.has-sidebar--toggle .content-area {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 1rem;
    justify-content: center;
  }
  .has-sidebar.has-sidebar--toggle .drawer-sidebar-toggle {
    display: none;
  }
  .has-sidebar.has-sidebar--toggle .widget-area {
    display: block;
    grid-column: 2;
    grid-row: 1;
  }
}

/*--------------------------------------------------------------
All menus
--------------------------------------------------------------*/
.menu,
.menu ul,
.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Hide every buttons and sub menus */
.menu button {
  display: none;
}

/*--------------------------------------------------------------
Horizontal menu
--------------------------------------------------------------*/
.horizontal-menu {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}

/* 1rst level items */
.horizontal-menu > li {
  display: flex;
  align-items: center;
}
.horizontal-menu > li > a {
  font-size: 1em;
  padding: 10px 12px;
}

/* Hide every sub menus */
.horizontal-menu .sub-menu {
  display: none;
}

/*--------------------------------------------------------------
Dropdown horizontal menu
--------------------------------------------------------------*/
/* All items */
.horizontal-menu.is-dropdown li {
  position: relative;
}

/* Dropdown toggle of 1rst level items */
.horizontal-menu.is-dropdown > li.menu-item-has-children > .dropdown-toggle {
  display: flex;
  align-items: center;
}
.horizontal-menu.is-dropdown > li.menu-item-has-children > a {
  padding-right: 0;
}

/* Sub menus */
.horizontal-menu.is-dropdown .sub-menu {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
  left: -9999px;
  z-index: 99999;
}
.horizontal-menu.is-dropdown .sub-menu > li {
  display: block;
  background-color: #fff;
}
.horizontal-menu.is-dropdown .sub-menu a {
  color: #111;
  display: block;
  font-size: 0.9em;
  line-height: 1.2;
  line-height: var(--lh-heading, 1.2);
  padding: 0.75rem calc(24px + 1rem) 0.75rem 1rem;
}

/* 1rst level sub menus */
.horizontal-menu.is-dropdown > li > .sub-menu {
  padding-top: 12px;
}
.horizontal-menu.is-dropdown > li > .sub-menu:before {
  /* Triangle */
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #fff transparent;
  content: "";
  display: inline-block;
  height: 0;
  left: 10px;
  position: absolute;
  top: 4px;
  width: 0;
}

/* Dropdown toggle in sub menus */
.horizontal-menu.is-dropdown .sub-menu > li.menu-item-has-children .dropdown-toggle {
  display: block;
  position: absolute;
  transform: rotate(-90deg);
  top: 0;
  bottom: 0;
  right: 0.1rem;
  padding: 0.7rem;
  color: #111;
}

/* Show sub menus */
.horizontal-menu.is-dropdown .menu-item-has-children:hover > .sub-menu,
.horizontal-menu.is-dropdown .menu-item-has-children:focus > .sub-menu {
  display: block;
  float: none;
  margin-top: 0;
  opacity: 1;
  position: absolute;
  left: 0;
  right: auto;
  top: 100%;
  bottom: auto;
  height: auto;
  transform: none;
  width: 12.5rem;
}

.horizontal-menu.is-dropdown .sub-menu .menu-item-has-children:hover > .sub-menu,
.horizontal-menu.is-dropdown .sub-menu .menu-item-has-children:focus > .sub-menu {
  left: 100%;
  top: 0;
}

.horizontal-menu.is-dropdown .menu-item-has-children[focus-within] > .sub-menu {
  /*:focus-within needs its own selector so other similar selectors don’t get ignored if a browser doesn’t recognize it */
  display: block;
  float: none;
  margin-top: 0;
  opacity: 1;
  position: absolute;
  left: 0;
  right: auto;
  top: 100%;
  bottom: auto;
  height: auto;
  transform: none;
  width: 12.5rem;
}

.horizontal-menu.is-dropdown .menu-item-has-children:focus-within > .sub-menu {
  /*:focus-within needs its own selector so other similar selectors don’t get ignored if a browser doesn’t recognize it */
  display: block;
  float: none;
  margin-top: 0;
  opacity: 1;
  position: absolute;
  left: 0;
  right: auto;
  top: 100%;
  bottom: auto;
  height: auto;
  transform: none;
  width: 12.5rem;
}

.horizontal-menu.is-dropdown .sub-menu .menu-item-has-children[focus-within] > .sub-menu {
  left: 100%;
  top: 0;
}

.horizontal-menu.is-dropdown .sub-menu .menu-item-has-children:focus-within > .sub-menu {
  left: 100%;
  top: 0;
}

/*--------------------------------------------------------------
Vertical menu
--------------------------------------------------------------*/
.vertical-menu a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
.vertical-menu a:hover {
  text-decoration: underline;
}

/* 1rst level items */
.vertical-menu > li > header > a,
.vertical-menu > li > section > header > a,
.vertical-menu > li > amp-accordion > section > header > a {
  padding: 0.25rem 0;
  font-weight: 700;
}
.vertical-menu > li > header > a:hover,
.vertical-menu > li > section > header > a:hover {
  opacity: 0.75;
}

/* Sub menus */
.vertical-menu ul {
  margin-left: 1rem;
}

/*--------------------------------------------------------------
Dropdown vertical menu
--------------------------------------------------------------*/
.vertical-menu.is-dropdown header {
  position: relative;
  padding-right: 20px;
  background-color: transparent;
  border: 0;
}

/* dropdown toggle */
.vertical-menu.is-dropdown .dropdown-toggle {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.vertical-menu.is-dropdown .dropdown-toggle svg {
  transition: transform 0.15s linear;
}

.vertical-menu.is-dropdown [expanded] > header > .dropdown-toggle svg {
  transform: rotate(180deg);
}

/* sub menu */
.vertical-menu.is-dropdown .menu-item-has-children ul {
  display: none;
}
.vertical-menu.is-dropdown .menu-item-has-children [expanded] > ul {
  display: block;
}

/*--------------------------------------------------------------
Social menu
--------------------------------------------------------------*/
/* Label */
.social-nav.hide-label .social-menu-label {
  display: none;
}

.social-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: visible;
  /* Label */
}
.social-menu .social-menu-label {
  font-size: 0.8em;
  font-size: var(--fs-sm, 0.8em);
  font-family: var(--ff-heading);
  line-height: 1.2;
  line-height: var(--lh-heading, 1.2);
}
.social-menu li:not(:last-child) {
  margin-right: 1em;
}
.social-menu li a {
  display: block;
  color: inherit;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
  transition: opacity 110ms ease-in-out;
  transition: opacity var(--trans-link, 110ms) ease-in-out;
}
.social-menu li a:hover, .social-menu li a:active {
  opacity: 0.7;
}
.social-menu li a:focus {
  opacity: 1;
  border-bottom: 1px solid currentColor;
}
.social-menu li a svg {
  display: block;
  width: 1em;
  height: 1em;
  /* Prevent icons from jumping in Safari using hardware acceleration. */
  transform: translateZ(0);
}
.social-menu li a svg#ui-icon-link {
  transform: rotate(-45deg);
}

.drawer-header-js {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999999;
  overflow: auto;
  /* Hidden in the left */
  right: auto;
  left: -200%;
  transition: left 0.2s;
}

/* Open from the left */
.header-drawer-opened .drawer-header-js {
  left: 0;
}

body.admin-bar .drawer-header-js {
  top: 46px;
}
@media only screen and (min-width: 783px) {
  body.admin-bar .drawer-header-js {
    top: 32px;
  }
}

/**
 * Common style for amp and js slide-out menu
 */
.drawer-header {
  background-color: #fff;
  width: 100vw;
  /* 90vw; */
  max-width: 100vw;
  /* 90vw; */
}
@media only screen and (min-width: 592px) {
  .drawer-header {
    width: 33vw;
    max-width: 400px;
  }
}

/**
 * Drawer header toggle
 */
.drawer-header-toggle {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: inherit;
}
.drawer-header-toggle:hover, .drawer-header-toggle:focus {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}
.drawer-header-toggle:focus {
  outline-offset: 0;
}
.drawer-header-toggle svg {
  margin-right: 0.25rem;
}

.drawer-sidebar-js {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999999;
  overflow: auto;
  /* Hidden in the left */
  right: auto;
  left: -200%;
  transition: left 0.2s;
}

/* Open from the left */
.sidebar-drawer-opened .drawer-sidebar-js {
  left: 0;
}

body.admin-bar .drawer-sidebar-js {
  top: 46px;
}
@media only screen and (min-width: 783px) {
  body.admin-bar .drawer-sidebar-js {
    top: 32px;
  }
}

/**
 * Common style for amp and js slide-out menu
 */
.drawer-sidebar {
  background-color: #fff;
  width: 100vw;
  /* 90vw; */
  max-width: 100vw;
  /* 90vw; */
}

/**
 * Drawer sidebar toggle
 */
.drawer-sidebar-toggle {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: inherit;
}
.drawer-sidebar-toggle:hover, .drawer-sidebar-toggle:focus {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}
.drawer-sidebar-toggle:focus {
  outline-offset: 0;
}
.drawer-sidebar-toggle svg {
  margin-right: 0.25rem;
}

/*--------------------------------------------------------------
# Miscellaneous
--------------------------------------------------------------*/
/* Disable scroll */
.scroll-disabled {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

/* no js */
.no-js .hide-no-js {
  display: none !important;
}

/* Overlay */
.overlay-mask {
  background-color: rgba(0, 0, 0, 0.5);
  background-color: var(--cl-overlay, rgba(0, 0, 0, 0.5));
  bottom: 0;
  content: "";
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999998;
}