@charset "UTF-8";
:root {
  --global-ff-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  --global-ff-secondary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  --global-fs-base: 18px;
  --global-ls: normal;
  --global-lh: 1.7;
  --global-fs-small: .882em;
  --global-fs-normal: 1em;
  --global-fs-large: 1.176em;
  --global-fs-larger: 1.294em;
  --global-cl-black: #000;
  --global-cl-white: #fff;
  --global-cl-white-50: rgba(255, 255, 255, 0.5);
  --global-cl-white-90: rgba(255, 255, 255, 0.9);
  --global-cl-dark-gray: #28303d;
  --global-cl-gray: #39414d;
  --global-cl-light-gray: #f0f0f0;
  --global-cl-green: #d1e4dd;
  --global-cl-blue: #d1dfe4;
  --global-cl-purple: #d1d1e4;
  --global-cl-red: #e4d1d1;
  --global-cl-orange: #e4dad1;
  --global-cl-yellow: #eeeadd;
  --global-cl-bg-light: var(--global-cl-white);
  --global-cl-text-primary-light: var(--global-cl-dark-gray);
  --global-cl-text-secondary-light: var(--global-cl-gray);
  --global-cl-accent-light: #5c6bc0;
  --global-cl-on-accent-light: var(--global-cl-white);
  --links-cl-text-light: var(--global-cl-accent-light);
  --global-cl-bg-dark: var(--global-cl-dark-gray);
  --global-cl-text-primary-dark: var(--global-cl-light-gray);
  --global-cl-text-secondary-dark: var(--global-cl-light-gray);
  --global-cl-accent-dark: #8c9eff;
  --global-cl-on-accent-dark: var(--global-cl-white);
  --links-cl-text-dark: currentColor;
  --global-cl-bg: var(--global-cl-bg-light);
  --global-cl-text-primary: var(--global-cl-text-primary-light);
  --global-cl-text-secondary: var(--global-cl-text-secondary-light);
  --global-cl-accent: var(--global-cl-accent-light);
  --global-cl-on-accent: var(--global-cl-on-accent-light);
  --global-cl-border: var(--global-cl-text-secondary);
  --global-spacing-unit: 20px;
  --global-spacing-h: 20px;
  --global-spacing-v: 25px;
  --global-spacing-v-responsive: calc(0.666 * var(--global-spacing-v));
  --global-spacing-h-responsive: calc(0.666 * var(--global-spacing-h));
  --global-content-max-width: 610px;
  --global-wide-max-width: 1240px;
  --global-aligncontent-width: min(calc(100% - 2 * var(--global-spacing-h-responsive)), var(--global-content-max-width));
  --global-alignwide-width: min(calc(100% - 2 * var(--global-spacing-h-responsive)), var(--global-wide-max-width));
  --global-alignright-margin: calc(0.5 * (100% - var(--global-aligncontent-width)));
  --global-alignleft-margin: calc(0.5 * (100% - var(--global-aligncontent-width)));
  --global-content-max-width: 610px;
  --global-wide-max-width: 1240px;
  --global-aligncontent-width: min(calc(100% - 2 * var(--global-spacing-h-responsive)), var(--global-content-max-width));
  --global-alignwide-width: min(calc(100% - 2 * var(--global-spacing-h-responsive)), var(--global-wide-max-width));
  --global-alignright-margin: calc(0.5 * (100% - var(--global-aligncontent-width)));
  --global-alignleft-margin: calc(0.5 * (100% - var(--global-aligncontent-width)));
  --global-elevation-1: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  --global-elevation-2: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  --global-elevation-3: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
  --heading-ff: var(--global-ff-primary);
  --heading-lh: 1.3;
  --heading-fw: normal;
  --heading-fw-strong: 600;
  --heading-fs-h1: var(--global-fs-larger);
  --heading-fs-h2: var(--global-fs-larger);
  --heading-fs-h3: var(--global-fs-large);
  --heading-fs-h4: var(--global-fs-normal);
  --heading-fs-h5: var(--global-fs-normal);
  --heading-fs-h6: var(--global-fs-normal);
  --heading-ls-h6: 0.05em;
  --heading-ls-h5: 0.05em;
  --heading-ls-h4: var(--global-ls);
  --heading-ls-h3: var(--global-ls);
  --heading-ls-h2: var(--global-ls);
  --heading-ls-h1: var(--global-ls);
  --button-ff: var(--global-ff-primary);
  --button-fs: var(--global-fs-normal);
  --button-fw: 500;
  --button-lh: 1.5;
  --button-border-width: 2px;
  --button-border-radius: 0;
  --button-padding-v: 10px;
  --button-padding-h: calc(1.25 * var(--button-padding-v));
  --button-shadow: var(--global-elevation-1);
  --button-shadow-hover: var(--global-elevation-2);
  --button-shadow-active: var(--global-elevation-3);
  --form-fs: var(--global-fs-small);
  --form-lh: var(--global-lh);
  --form-cl-text: var(--global-cl-dark-gray);
  --form-cl-ranged: var(--global-cl-text-primary);
  --form-weight-label: 500;
  --form-cl-border: var(--global-cl-border);
  --form-width-border: 2px;
  --form-border-radius: 0;
  --form-spacing-unit: calc(0.5 * var(--global-spacing-unit));
  --links-cl-text: var(--links-cl-text-light);
  --list-ff: var(--global-ff-secondary);
  /* Block: Latest posts */
  --latest-posts-ff-title: var(--heading-ff);
  --latest-posts-fs-title: var(--heading-fs-h3);
  --latest-posts-fs-content: var(--global-fs-base);
  --latest-posts-shadow: var(--global-elevation-1);
  --latest-posts-shadow-hover: var(--global-elevation-2);
  /* Block: Pull quote */
  --pullquote-ff: var(--global-ff-primary);
  --pullquote-fs: var(--global-fs-larger);
  --pullquote-lh: var(--heading-lh);
  --pullquote-font-style: italic;
  /* Block: Quote */
  --quote-fs: var(--global-fs-base);
  --quote-fs-large: var(--global-fs-larger);
  --quote-font-style: italic;
  --quote-font-style-large: italic;
  --quote-lh: var(--global-lh);
  --quote-lh-large: 1.35;
  /* Block: Separator */
  --separator-height: 2px;
  /* Block: Table */
  --table-cl-stripes-border: var(--global-cl-light-gray);
  --table-cl-stripes-background: var(--global-cl-light-gray);
  --table-cl-has-background-text: var(--global-cl-dark-gray);
  /* Admin-bar height */
  --global-admin-bar-height: 0;
}
@media (min-width: 600px) {
  :root {
    --global-spacing-v-responsive: var(--global-spacing-v);
    --global-spacing-h-responsive: var(--global-spacing-h);
  }
}

html,
body {
  border: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
  border: none;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

blockquote:before,
blockquote:after {
  content: "";
}

html {
  font-family: var(--global-ff-secondary);
  line-height: var(--global-lh);
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  scroll-behavior: smooth;
  /* Apply border-box across the entire page. */
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

*:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline-offset: 1px;
  outline: 2px dashed currentColor;
}

::-moz-selection {
  background: var(--global-cl-accent);
  color: var(--global-cl-on-accent);
}

::selection {
  background: var(--global-cl-accent);
  color: var(--global-cl-on-accent);
}

body {
  font-size: var(--global-fs-base);
  text-align: left;
  background-color: var(--global-cl-bg);
  color: var(--global-cl-text-primary);
  font-weight: normal;
}

.align-wrap > *,
[class*=inner-container] > *,
.wp-block-column > *,
.wp-block-media-text__content > * {
  margin-top: 0;
  margin-bottom: var(--global-spacing-v-responsive);
}
.align-wrap > *:last-child,
[class*=inner-container] > *:last-child,
.wp-block-column > *:last-child,
.wp-block-media-text__content > *:last-child {
  margin-bottom: 0;
}

.align-wrap > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright),
.content-align-width {
  max-width: var(--global-aligncontent-width);
  margin-left: auto;
  margin-right: auto;
}

.alignwide,
.alignfull {
  clear: both;
}

.align-wrap > .alignwide,
.wide-align-width {
  max-width: var(--global-alignwide-width);
  margin-left: auto;
  margin-right: auto;
}

.alignfull,
.full-align-width {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.aligncenter {
  clear: both;
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.aligncenter img {
  margin-left: auto;
  margin-right: auto;
}

.align-wrap > .alignleft,
.align-wrap > .alignright {
  max-width: calc(0.5 * var(--global-aligncontent-width));
}

.alignleft:not(.is-resized),
.alignright:not(.is-resized) {
  width: 100%;
}

.alignleft {
  float: left;
  margin-right: var(--global-spacing-h-responsive);
  margin-bottom: var(--global-spacing-v-responsive);
}

.align-wrap > .alignleft {
  margin-left: var(--global-alignleft-margin);
}

.alignright {
  float: right;
  margin-left: var(--global-spacing-h-responsive);
  margin-bottom: var(--global-spacing-v-responsive);
}

.align-wrap > .alignright {
  margin-right: var(--global-alignright-margin);
}

[class*=inner-container]:after {
  clear: both;
  content: "";
  display: block;
}
[class*=inner-container] > .alignleft,
[class*=inner-container] > .alignright {
  max-width: 50%;
}

[class*=has-background] > [class*=inner-container] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright) {
  max-width: var(--global-aligncontent-width);
  margin-left: auto;
  margin-right: auto;
}
[class*=has-background] > [class*=inner-container] > .alignwide {
  max-width: var(--global-alignwide-width);
  margin-left: auto;
  margin-right: auto;
}
[class*=has-background] > [class*=inner-container] > .alignleft {
  margin-left: var(--global-spacing-h-responsive);
}
[class*=has-background] > [class*=inner-container] > .alignright {
  margin-right: var(--global-spacing-h-responsive);
}

.alignwide > [class*=inner-container] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright) {
  max-width: min(100%, var(--global-content-max-width));
  margin-left: auto;
  margin-right: auto;
}
.alignwide[class*=has-background] > [class*=inner-container] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright) {
  max-width: var(--global-aligncontent-width);
  margin-left: auto;
  margin-right: auto;
}
.alignwide > [class*=inner-container] > .alignleft {
  max-width: calc(0.5 * min(100%, var(--global-content-max-width)));
  margin-left: calc(0.5 * (100% - min(100%, var(--global-content-max-width))));
}
.alignwide > [class*=inner-container] > .alignright {
  max-width: calc(0.5 * min(100%, var(--global-content-max-width)));
  margin-right: calc(0.5 * (100% - min(100%, var(--global-content-max-width))));
}
.alignwide[class*=has-background] > [class*=inner-container] > .alignleft {
  margin-left: var(--global-alignleft-margin);
}
.alignwide[class*=has-background] > [class*=inner-container] > .alignright {
  margin-right: var(--global-alignright-margin);
}

.alignfull [class*=inner-container] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright) {
  max-width: var(--global-aligncontent-width);
  margin-left: auto;
  margin-right: auto;
}
.alignfull [class*=inner-container] > .alignwide {
  max-width: var(--global-alignwide-width);
  margin-left: auto;
  margin-right: auto;
}
.alignfull [class*=inner-container] > .alignleft {
  max-width: calc(0.5 * min(100%, var(--global-content-max-width)));
  margin-left: var(--global-alignleft-margin);
  margin-right: var(--global-spacing-h-responsive);
}
.alignfull [class*=inner-container] > .alignright {
  max-width: calc(0.5 * min(100%, var(--global-content-max-width)));
  margin-right: var(--global-alignright-margin);
  margin-left: var(--global-spacing-h-responsive);
}

/**
 * Accessibility
 */
@media (prefers-reduced-motion: reduce), (update: slow) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0 !important;
            animation-duration: 0 !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0 !important;
  }
}
/* Screen Reader Text */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Skip Link */
.skip-link {
  left: -9999rem;
  top: 2.5rem;
  z-index: 999999999;
}

.skip-link:focus {
  left: 6px;
  top: 7px;
  text-decoration: none;
  right: auto;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

abbr,
acronym {
  cursor: help;
}

b,
strong {
  font-weight: 700;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

pre {
  white-space: pre;
  overflow-x: auto;
}

hr {
  clear: both;
  border-style: none;
  border-bottom: var(--separator-height) solid var(--separator-cl-border);
  margin-left: auto;
  margin-right: auto;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

blockquote {
  quotes: "" "";
  position: relative;
  font-style: italic;
}
blockquote:before {
  content: "\201D";
  font-family: serif;
  display: block;
  font-weight: 700;
  font-style: normal;
  color: currentColor;
  font-size: 3em;
  height: 0.4em;
  line-height: 0.75;
}
blockquote cite {
  display: block;
  margin-top: 0.5rem;
  font-style: normal;
  color: var(--global-cl-text-secondary);
}
blockquote cite:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 1px;
  width: 32px;
  margin-right: 8px;
  background-color: currentColor;
}

table {
  width: 100%;
  color: inherit;
  border: 1px solid;
  border-collapse: collapse;
}

caption {
  text-align: left;
}

button {
  cursor: pointer;
}

.button,
input[type=button],
input[type=submit],
input[type=reset],
.wp-block-button__link,
.wp-block-file a.wp-block-file__button,
.wp-block-search .wp-block-search__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-flex;
  justify-content: center;
  line-height: var(--button-lh);
  font-weight: var(--button-fw);
  font-family: var(--button-ff);
  font-size: var(--button-fs);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding-v) var(--button-padding-h);
  cursor: pointer;
  box-shadow: var(--button-shadow);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear, background-color 15ms linear;
  text-decoration: none;
  border-style: solid;
  border-width: var(--button-border-width);
  border-color: transparent;
  background-color: var(--global-cl-accent);
  color: var(--global-cl-on-accent);
}
.button:hover, .button:focus,
input[type=button]:hover,
input[type=button]:focus,
input[type=submit]:hover,
input[type=submit]:focus,
input[type=reset]:hover,
input[type=reset]:focus,
.wp-block-button__link:hover,
.wp-block-button__link:focus,
.wp-block-file a.wp-block-file__button:hover,
.wp-block-file a.wp-block-file__button:focus,
.wp-block-search .wp-block-search__button:hover,
.wp-block-search .wp-block-search__button:focus {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  box-shadow: var(--button-shadow-hover);
}
.button:focus-visible,
input[type=button]:focus-visible,
input[type=submit]:focus-visible,
input[type=reset]:focus-visible,
.wp-block-button__link:focus-visible,
.wp-block-file a.wp-block-file__button:focus-visible,
.wp-block-search .wp-block-search__button:focus-visible {
  outline-offset: -5px;
}
.button:active,
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
.wp-block-button__link:active,
.wp-block-file a.wp-block-file__button:active,
.wp-block-search .wp-block-search__button:active {
  box-shadow: var(--button-shadow-active);
}

label {
  display: block;
  font-size: var(--form-fs);
  font-weight: var(--form-weight-label);
  margin-bottom: calc(var(--global-spacing-unit) / 4);
}

fieldset {
  border: var(--form-width-border) solid var(--form-cl-border);
  border-radius: var(--form-border-radius);
  padding: var(--form-spacing-unit);
}
fieldset legend {
  font-size: 0.85em;
  font-weight: 700;
  padding: 0 0.5rem;
}
fieldset input[type=submit] {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
fieldset input:not([type=submit]) {
  margin-bottom: var(--global-spacing-unit);
}
fieldset input[type=radio], fieldset input[type=checkbox] {
  margin-bottom: 0;
}
fieldset input[type=radio] + label, fieldset input[type=checkbox] + label {
  font-size: var(--form-fs);
  padding-left: 0;
  margin-bottom: var(--global-spacing-unit);
}

input,
textarea,
select {
  font-family: inherit;
}

select {
  font-size: var(--form-fs);
  border: var(--form-width-border) solid var(--form-cl-border);
  color: var(--form-cl-text);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: var(--form-lh);
  padding: var(--form-spacing-unit) calc(3 * var(--form-spacing-unit)) var(--form-spacing-unit) var(--form-spacing-unit);
  background: var(--global-cl-white) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2328303d'><polygon points='0,0 10,0 5,5'/></svg>") no-repeat;
  background-position: right var(--form-spacing-unit) top 60%;
  border-radius: var(--form-border-radius);
}
select:focus {
  outline-offset: 2px;
  outline: 2px dotted var(--form-cl-border);
}

textarea {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
.site textarea {
  font-size: var(--form-fs);
  border: var(--form-width-border) solid var(--form-cl-border);
  border-radius: var(--form-border-radius);
  background-color: var(--global-cl-white-90);
  color: var(--form-cl-text);
  line-height: var(--form-lh);
  padding: var(--form-spacing-unit);
  max-width: 100%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
.site textarea:focus {
  outline: none;
}
input[type=text]:disabled,
input[type=email]:disabled,
input[type=url]:disabled,
input[type=password]:disabled,
input[type=search]:disabled,
input[type=number]:disabled,
input[type=tel]:disabled,
input[type=date]:disabled,
input[type=month]:disabled,
input[type=week]:disabled,
input[type=time]:disabled,
input[type=datetime]:disabled,
input[type=datetime-local]:disabled,
input[type=color]:disabled,
.site textarea:disabled {
  opacity: 0.7;
}

input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input[type=color] {
  padding: calc(var(--form-spacing-unit) / 2);
  height: calc(4 * var(--form-spacing-unit));
}

input[type=email],
input[type=url] {
  /*rtl:ignore*/
  direction: ltr;
}

input[type=checkbox] + label,
input[type=radio] + label {
  display: inline-block;
  padding-left: 10px;
  font-size: var(--global-fs-small);
  vertical-align: top;
}

pre,
code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}

pre,
pre code {
  word-wrap: normal;
  white-space: pre-wrap;
  line-height: 1.5;
}

code {
  background: var(--global-cl-light-gray);
  color: var(--global-cl-black);
  border-radius: 0.2rem;
}

pre {
  overflow: auto;
}
pre code {
  background: transparent;
  color: inherit;
  padding: 0;
}

figure {
  margin: 0;
}

iframe {
  border: none;
  display: block;
  max-width: 100%;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
video {
  max-width: 100%;
}

video {
  vertical-align: middle;
}

/* Media captions */
figcaption,
.align-wrap figcaption,
.wp-caption,
.wp-caption-text {
  color: var(--global-cl-text-secondary);
  font-size: var(--global-fs-small);
  line-height: var(--global-lh);
  margin-top: calc(0.5 * var(--global-spacing-unit));
  margin-bottom: var(--global-spacing-unit);
  text-align: center;
}

figcaption a {
  color: inherit;
}

.alignleft figcaption,
.alignright figcaption {
  margin-bottom: 0;
}

/* WP Smiley */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: var(--links-cl-text);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  transition: all 0.15s linear;
}
a:hover, a:focus {
  text-decoration: none;
}

ul,
ol {
  font-family: var(--list-ff);
  padding-left: var(--global-spacing-h-responsive);
  margin: 0;
}

ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
ol ul {
  list-style-type: circle;
}

.wp-block-archives,
.wp-block-categories,
.wp-block-categories > .wp-block-categories__list,
.wp-block-latest-posts,
.wp-block-latest-comments {
  list-style: none;
  padding-left: 0;
}
.wp-block-archives ul,
.wp-block-archives ol,
.wp-block-categories ul,
.wp-block-categories ol,
.wp-block-categories > .wp-block-categories__list ul,
.wp-block-categories > .wp-block-categories__list ol,
.wp-block-latest-posts ul,
.wp-block-latest-posts ol,
.wp-block-latest-comments ul,
.wp-block-latest-comments ol {
  list-style: inherit;
}

.wp-block-archives li,
.wp-block-categories li,
.wp-block-categories > .wp-block-categories__list li {
  padding: 0.25em 0;
}
.wp-block-archives li > a,
.wp-block-categories li > a,
.wp-block-categories > .wp-block-categories__list li > a {
  text-decoration: none;
}
.wp-block-archives li > a:hover,
.wp-block-categories li > a:hover,
.wp-block-categories > .wp-block-categories__list li > a:hover {
  text-decoration: underline;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  clear: both;
  font-family: var(--heading-ff);
  font-weight: var(--heading-fw);
  line-height: var(--heading-lh);
}
h1 strong,
.h1 strong,
h2 strong,
.h2 strong,
h3 strong,
.h3 strong,
h4 strong,
.h4 strong,
h5 strong,
.h5 strong,
h6 strong,
.h6 strong {
  font-weight: var(--heading-fw-strong);
}

h1,
.h1 {
  font-size: var(--heading-fs-h1);
  letter-spacing: var(--heading-letter-spacing-h1);
}

h2,
.h2 {
  font-size: var(--heading-fs-h2);
  letter-spacing: var(--heading-letter-spacing-h2);
}

h3,
.h3 {
  font-size: var(--heading-fs-h3);
  letter-spacing: var(--heading-letter-spacing-h3);
}

h4,
.h4 {
  font-size: var(--heading-fs-h4);
  font-weight: var(--heading-fw-strong);
  letter-spacing: var(--heading-letter-spacing-h4);
}

h5,
.h5 {
  font-size: var(--heading-fs-h5);
  font-weight: var(--heading-fw-strong);
  letter-spacing: var(--heading-letter-spacing-h5);
}

h6,
.h6 {
  font-size: var(--heading-fs-h6);
  font-weight: var(--heading-fw-strong);
  letter-spacing: var(--heading-letter-spacing-h6);
}

.wp-block-archives li::before {
  content: "\2014";
  margin-right: 0.25em;
}

.wp-block-buttons .wp-block-button {
  margin: 0.5em;
  margin-left: 0;
}
.wp-block-buttons .wp-block-button:last-child {
  margin-right: 0;
}
.wp-block-buttons .wp-block-button:first-child:last-child {
  margin: 0;
}
.wp-block-buttons .wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-text-color):not(.has-background):hover, .wp-block-buttons .wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-text-color):not(.has-background):focus, .wp-block-buttons .wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-text-color):not(.has-background):active, .wp-block-buttons .wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-text-color):not(.has-background):visited {
  color: var(--global-cl-on-accent);
}
.wp-block-buttons .wp-block-button.is-style-outline .wp-block-button__link {
  border-color: currentColor;
  box-shadow: none;
  border: var(--button-border-width) solid;
}
.wp-block-buttons .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
  color: var(--global-cl-accent);
}

.wp-block-calendar {
  text-align: inherit;
}
.wp-block-calendar caption {
  font-size: var(--global-fs-small);
  font-weight: 700;
  text-transform: uppercase;
  caption-side: top;
  margin-bottom: 0.5em;
}
.wp-block-calendar table {
  text-align: center;
}
.wp-block-calendar table caption,
.wp-block-calendar table tbody {
  color: inherit;
}
.wp-block-calendar th,
.wp-block-calendar td {
  width: auto;
  height: 2em;
  padding: 0;
  vertical-align: middle;
}
.wp-block-calendar thead th {
  font-size: var(--global-fs-small);
  font-weight: 700;
  background: var(--global-cl-accent);
  color: var(--global-cl-on-accent);
}
.wp-block-calendar tbody a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  line-height: 2;
  background: var(--global-cl-accent);
  color: var(--global-cl-on-accent);
  transition: background 0.3s;
}
.wp-block-calendar tbody a:focus {
  outline-color: var(--global-cl-accent);
}
.wp-block-calendar .wp-calendar-nav {
  margin-top: 0.5em;
  font-size: var(--global-fs-small);
  font-weight: 700;
  text-align: inherit;
  text-transform: uppercase;
}
.wp-block-calendar .wp-calendar-nav a {
  text-decoration: none;
  transition: all 0.15s linear;
}
.wp-block-calendar .wp-calendar-nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
.wp-block-calendar.is-style-themesetup-calendar-separate table {
  border-collapse: separate;
  border-width: 0;
}
.wp-block-calendar.is-style-themesetup-calendar-separate thead th {
  border-width: 0;
}
.wp-block-calendar.is-style-themesetup-calendar-separate .pad {
  visibility: hidden;
}

.wp-block-categories {
  font-size: 0.875em;
}
.wp-block-categories a {
  text-transform: uppercase;
  color: inherit;
}

.wp-block-code {
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: currentColor;
}
.wp-block-code code,
.wp-block-code textarea {
  display: block;
  padding: 22px 21px 20px;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  background-image: repeating-linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 21px, rgba(255, 255, 255, 0.1) 21px, rgba(255, 255, 255, 0.1) 42px);
}

.has-black-color[class] {
  color: var(--global-cl-black);
}
.has-black-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-black, #000);
  color: var(--local-cl-text);
}

.has-dark-gray-color[class] {
  color: var(--global-cl-dark-gray);
}
.has-dark-gray-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-dark-gray, #28303d);
  color: var(--local-cl-text);
}

.has-gray-color[class] {
  color: var(--global-cl-gray);
}
.has-gray-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-gray, #39414d);
  color: var(--local-cl-text);
}

.has-light-gray-color[class] {
  color: var(--global-cl-light-gray);
}
.has-light-gray-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-light-gray, #f0f0f0);
  color: var(--local-cl-text);
}

.has-green-color[class] {
  color: var(--global-cl-green);
}
.has-green-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-green, #d1e4dd);
  color: var(--local-cl-text);
}

.has-blue-color[class] {
  color: var(--global-cl-blue);
}
.has-blue-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-blue, #d1dfe4);
  color: var(--local-cl-text);
}

.has-purple-color[class] {
  color: var(--global-cl-purple);
}
.has-purple-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-purple, #d1d1e4);
  color: var(--local-cl-text);
}

.has-red-color[class] {
  color: var(--global-cl-red);
}
.has-red-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-red, #e4d1d1);
  color: var(--local-cl-text);
}

.has-orange-color[class] {
  color: var(--global-cl-orange);
}
.has-orange-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-orange, #e4dad1);
  color: var(--local-cl-text);
}

.has-yellow-color[class] {
  color: var(--global-cl-yellow);
}
.has-yellow-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-yellow, #eeeadd);
  color: var(--local-cl-text);
}

.has-white-color[class] {
  color: var(--global-cl-white);
}
.has-white-color[class] > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-white, #fff);
  color: var(--local-cl-text);
}

.has-black-background-color[class] {
  background-color: var(--global-cl-black);
}
.has-black-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-black, #000);
  background-color: var(--local-cl-bg);
}

.has-dark-gray-background-color[class] {
  background-color: var(--global-cl-dark-gray);
}
.has-dark-gray-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-dark-gray, #000);
  background-color: var(--local-cl-bg);
}

.has-gray-background-color[class] {
  background-color: var(--global-cl-gray);
}
.has-gray-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-gray, #000);
  background-color: var(--local-cl-bg);
}

.has-light-gray-background-color[class] {
  background-color: var(--global-cl-light-gray);
}
.has-light-gray-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-light-gray, #000);
  background-color: var(--local-cl-bg);
}

.has-green-background-color[class] {
  background-color: var(--global-cl-green);
}
.has-green-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-green, #fff);
  background-color: var(--local-cl-bg);
}

.has-blue-background-color[class] {
  background-color: var(--global-cl-blue);
}
.has-blue-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-blue, #fff);
  background-color: var(--local-cl-bg);
}

.has-purple-background-color[class] {
  background-color: var(--global-cl-purple);
}
.has-purple-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-purple, #fff);
  background-color: var(--local-cl-bg);
}

.has-red-background-color[class] {
  background-color: var(--global-cl-red);
}
.has-red-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-red, #fff);
  background-color: var(--local-cl-bg);
}

.has-orange-background-color[class] {
  background-color: var(--global-cl-orange);
}
.has-orange-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-orange, #fff);
  background-color: var(--local-cl-bg);
}

.has-yellow-background-color[class] {
  background-color: var(--global-cl-yellow);
}
.has-yellow-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-yellow, #fff);
  background-color: var(--local-cl-bg);
}

.has-white-background-color[class] {
  background-color: var(--global-cl-white);
}
.has-white-background-color[class] > [class*=__inner-container] {
  --local-cl-bg: var(--global-cl-white, #fff);
  background-color: var(--local-cl-bg);
}

.has-black-to-gray-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-black), var(--global-cl-gray));
}

.has-purple-to-yellow-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-purple), var(--global-cl-yellow));
}

.has-yellow-to-purple-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-yellow), var(--global-cl-purple));
}

.has-green-to-yellow-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-green), var(--global-cl-yellow));
}

.has-yellow-to-green-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-yellow), var(--global-cl-green));
}

.has-red-to-yellow-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-red), var(--global-cl-yellow));
}

.has-yellow-to-red-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-yellow), var(--global-cl-red));
}

.has-purple-to-red-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-purple), var(--global-cl-red));
}

.has-red-to-purple-gradient-background {
  background: linear-gradient(160deg, var(--global-cl-red), var(--global-cl-purple));
}

[class*=has-background] p,
[class*=has-background] h1,
[class*=has-background] h2,
[class*=has-background] h3,
[class*=has-background] h4,
[class*=has-background] h5,
[class*=has-background] h6 {
  color: currentColor;
}
[class*=has-background]:not(.has-text-color).has-black-background-color[class], [class*=has-background]:not(.has-text-color).has-dark-gray-background-color[class], [class*=has-background]:not(.has-text-color).has-gray-background-color[class], [class*=has-background]:not(.has-text-color).has-black-to-gray-gradient-background {
  color: var(--global-cl-white);
}
[class*=has-background]:not(.has-text-color).has-black-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-dark-gray-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-gray-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-black-to-gray-gradient-background > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-white, #fff);
  color: var(--local-cl-text);
}
[class*=has-background]:not(.has-text-color).has-light-gray-background-color[class], [class*=has-background]:not(.has-text-color).has-green-background-color[class], [class*=has-background]:not(.has-text-color).has-blue-background-color[class], [class*=has-background]:not(.has-text-color).has-purple-background-color[class], [class*=has-background]:not(.has-text-color).has-red-background-color[class], [class*=has-background]:not(.has-text-color).has-orange-background-color[class], [class*=has-background]:not(.has-text-color).has-yellow-background-color[class], [class*=has-background]:not(.has-text-color).has-white-background-color[class], [class*=has-background]:not(.has-text-color).has-purple-to-yellow-gradient-background, [class*=has-background]:not(.has-text-color).has-yellow-to-purple-gradient-background, [class*=has-background]:not(.has-text-color).has-green-to-yellow-gradient-background, [class*=has-background]:not(.has-text-color).has-yellow-to-green-gradient-background, [class*=has-background]:not(.has-text-color).has-red-to-yellow-gradient-background, [class*=has-background]:not(.has-text-color).has-yellow-to-red-gradient-background, [class*=has-background]:not(.has-text-color).has-purple-to-red-gradient-background, [class*=has-background]:not(.has-text-color).has-red-to-purple-gradient-background {
  color: var(--global-cl-dark-gray, #000);
}
[class*=has-background]:not(.has-text-color).has-light-gray-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-green-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-blue-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-purple-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-red-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-orange-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-yellow-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-white-background-color[class] > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-purple-to-yellow-gradient-background > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-yellow-to-purple-gradient-background > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-green-to-yellow-gradient-background > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-yellow-to-green-gradient-background > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-red-to-yellow-gradient-background > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-yellow-to-red-gradient-background > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-purple-to-red-gradient-background > [class*=__inner-container], [class*=has-background]:not(.has-text-color).has-red-to-purple-gradient-background > [class*=__inner-container] {
  --local-cl-text: var(--global-cl-dark-gray, #000);
  color: var(--local-cl-text);
}
[class*=has-background].has-black-background-color[class], [class*=has-background].has-dark-gray-background-color[class], [class*=has-background].has-gray-background-color[class], [class*=has-background].has-black-to-gray-gradient-background {
  --global-cl-text-secondary: var(--global-cl-text-secondary-dark);
  --global-cl-accent: var(--global-cl-accent-dark);
  --global-cl-on-accent: var(--global-cl-on-accent-dark);
  --links-cl-text: var(--links-cl-text-dark);
}
[class*=has-background].has-light-gray-background-color[class], [class*=has-background].has-green-background-color[class], [class*=has-background].has-blue-background-color[class], [class*=has-background].has-purple-background-color[class], [class*=has-background].has-red-background-color[class], [class*=has-background].has-orange-background-color[class], [class*=has-background].has-yellow-background-color[class], [class*=has-background].has-white-background-color[class], [class*=has-background].has-purple-to-yellow-gradient-background {
  --global-cl-text-secondary: var(--global-cl-text-secondary-light);
  --global-cl-accent: var(--global-cl-accent-light);
  --global-cl-on-accent: var(--global-cl-on-accent-light);
  --links-cl-text: var(--links-cl-text-light);
}

.has-drop-cap:not(:focus):first-letter {
  color: var(--global-cl-accent);
  font-size: 5.2em;
  font-weight: 700;
  margin: 0.09em 1rem 0.5rem 0;
}

.has-drop-cap.has-text-color:not(:focus):first-letter {
  color: inherit;
}

.has-small-font-size {
  font-size: 0.882em;
}

.has-regular-font-size,
.has-normal-font-size {
  font-size: 1em;
}

.has-large-font-size {
  font-size: 1.176em;
}

.has-larger-font-size {
  font-size: 1.294em;
}