.wp-block-gallery {

	.blocks-gallery-grid {
		width: 100%;
	}

	.blocks-gallery-image,
	.blocks-gallery-item {

		figure {
			justify-content: center;
		}

		figcaption {
			color: var(--global-cl-white); // Text color is always white to account for default gradient background
			font-size: var(--global-fs-small);
			pointer-events: none; // Caption background should not prevent clicking image

			a {
				color: var(--global-cl-white);
			}
		}

	}

	.blocks-gallery-caption {
		margin-top: 0;
	}
}
