.has-small-font-size {
	font-size: .882em;
}

.has-regular-font-size,
.has-normal-font-size {
	font-size: 1em;
}

.has-large-font-size {
	font-size: 1.176em;
}

.has-larger-font-size {
	font-size: 1.294em;
}
