.wp-block-rss {
	padding-left: 0;

	> li {
		list-style: none;
	}

	// Vertical margins
	&:not(.is-grid) > li {
		margin-top: calc(0.666 * var(--global-spacing-v));
		margin-bottom: calc(0.666 * var(--global-spacing-v));

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.is-grid {

		> li {
			margin-bottom: var(--global-spacing-v);

			&:last-child {
				margin-bottom: 0;
			}
		}

		// Remove bottom margins in grid columns
		&.columns-2 > li:nth-last-child(-n + 2):nth-child(2n + 1),
		&.columns-2 > li:nth-last-child(-n + 2):nth-child(2n + 1) ~ li,
		&.columns-3 > li:nth-last-child(-n + 3):nth-child(3n + 1),
		&.columns-3 > li:nth-last-child(-n + 3):nth-child(3n + 1) ~ li,
		&.columns-4 > li:nth-last-child(-n + 4):nth-child(4n + 1),
		&.columns-4 > li:nth-last-child(-n + 4):nth-child(4n + 1) ~ li,
		&.columns-5 > li:nth-last-child(-n + 5):nth-child(5n + 1),
		&.columns-5 > li:nth-last-child(-n + 5):nth-child(5n + 1) ~ li,
		&.columns-6 > li:nth-last-child(-n + 6):nth-child(6n + 1),
		&.columns-6 > li:nth-last-child(-n + 6):nth-child(6n + 1) ~ li {
			margin-bottom: 0;
		}
	}

	> li > * {
		margin-top: calc(0.333 * var(--global-spacing-v));
		margin-bottom: calc(0.333 * var(--global-spacing-v));

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	// Post title
	.wp-block-rss__item-title > a {
		display: inline-block;
	}

	// Post author
	.wp-block-rss__item-author {
		color: currentColor;
		font-size: var(--global-fs-normal);
		line-height: var(--global-lh);
	}

	// Post date
	.wp-block-rss__item-publish-date {
		color: currentColor;
		font-size: var(--global-fs-small);
		line-height: var(--global-lh);
	}

	// Post content
	.wp-block-rss__item-excerpt,
	.wp-block-rss__item-full-content {
		margin-top: calc(0.666 * var(--global-spacing-v));
	}

	&.alignfull {
		padding-left: var(--global-spacing-h);
		padding-right: var(--global-spacing-h);
	}
}
