.themesetup-title-control {
	background: #f9f9f9;
	// margin-bottom: -13px;
	// margin-top: -17px;
	margin-left: -24px;
	margin-right: -24px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 12px 20px;

	.customize-control-title {
		font-size: 16px;
		font-weight: 700;
		letter-spacing: .3px;
		text-align: center;
	}
}
