.wp-block-social-links {

	[data-align="right"] > & {
		justify-content: flex-end;
	}

	// Style: Logo only & Logo only monochrome
	&[class*="is-style-logos-only"] {

		.wp-social-link {
			background: none;
			padding: 0;
		}
	}

	// Style: Logo only monochrome
	&.is-style-logos-only-monochrome {

		.wp-social-link {
			color: inherit;
		}
	}
}
