.themesetup-focus-button {

	button {
		border: 1px solid #fff;
		background: #fff;
		cursor: pointer;
		box-shadow: none !important;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		padding: 0 12px;
		border-radius: 3px;
	}

	.themesetup-focus-button-item-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		right: 0;
		cursor: pointer;
		margin-right: -10px;
		width: 28px;
		height: 28px;
		margin-left: 8px;
	}

}
