.wp-block-latest-posts {

	// Vertical alignments
	&:not(.is-grid) > li {
		margin-top: calc(0.666 * var(--global-spacing-v));
		margin-bottom: calc(0.666 * var(--global-spacing-v));

		@include media(tablet-plus) {
			margin-top: var(--global-spacing-v);
			margin-bottom: var(--global-spacing-v);
		}

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	// Featured image
	.wp-block-latest-posts__featured-image {
		margin-bottom: calc(0.333 * var(--global-spacing-v));

		@include media(tablet-plus) {
			margin-bottom: calc(0.666 * var(--global-spacing-v));
		}

		&:not(.aligncenter) a,
		&:not(.aligncenter) img {
			width: 100%;
		}

		&.alignleft,
		&.alignright {
			margin-left: 0;
			margin-right: 0;

			// Override editor float on mobile
			@include media(mobile) {
				float: none;
			}

			@include media(tablet-plus) {
				width: 100%;
				max-width: 33.33%;
			}
		}

		@include media(tablet-plus) {

			&.alignleft {
				margin-right: var(--global-spacing-unit);
			}

			&.alignright {
				margin-left: var(--global-spacing-unit);
			}
		}
	}

	// Post title
	> li > a {
		display: block;
		font-size: var(--latest-posts-fs-title);
		font-family: var(--heading-ff);
		font-weight: var(--heading-fw);
		line-height: var(--heading-lh);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	// Post author & date
	.wp-block-latest-posts__post-author,
	.wp-block-latest-posts__post-date {
		color: var(--global-cl-text-secondary);
		display: inline-block;
		font-size: 0.9em;
		margin: 0.6rem 1rem 0 0;
	}

	// Post content
	.wp-block-latest-posts__post-excerpt,
	.wp-block-latest-posts__post-full-content {
		font-size: var(--latest-posts-fs-content);
		margin: calc(0.333 * var(--global-spacing-v)) 0 0;
	}

	// Grid style
	&.is-grid {
		word-wrap: break-word;
		word-break: break-word;
		align-items: flex-start; // Prevent equal column height.

		> li {
			margin-bottom: var(--global-spacing-v);
		}


		// Remove bottom margins in last row
		&.columns-2 > li:nth-last-child(-n + 2):nth-child(2n + 1),
		&.columns-2 > li:nth-last-child(-n + 2):nth-child(2n + 1) ~ li,
		&.columns-3 > li:nth-last-child(-n + 3):nth-child(3n + 1),
		&.columns-3 > li:nth-last-child(-n + 3):nth-child(3n + 1) ~ li,
		&.columns-4 > li:nth-last-child(-n + 4):nth-child(4n + 1),
		&.columns-4 > li:nth-last-child(-n + 4):nth-child(4n + 1) ~ li,
		&.columns-5 > li:nth-last-child(-n + 5):nth-child(5n + 1),
		&.columns-5 > li:nth-last-child(-n + 5):nth-child(5n + 1) ~ li,
		&.columns-6 > li:nth-last-child(-n + 6):nth-child(6n + 1),
		&.columns-6 > li:nth-last-child(-n + 6):nth-child(6n + 1) ~ li {
			margin-bottom: 0;
		}
	}

	// Card style
	&.is-style-themesetup-latest-posts-card {

		li {
			padding: var(--global-spacing-v) var(--global-spacing-h);
			box-shadow: var(--latest-posts-shadow);

			&:hover,
			&:focus-within {
				box-shadow: var(--latest-posts-shadow-hover);
			}
		}

		.wp-block-latest-posts__featured-image {
			margin-top: calc(-1 * var(--global-spacing-v));
			margin-left: calc(-1 * var(--global-spacing-h));
			margin-right: calc(-1 * var(--global-spacing-h));

			// Disable align left/right of the feat image
			&.alignleft,
			&.alignright {
				float: none;
				width: auto;
				max-width: none;
			}
		}
	}
}
