.wp-block-latest-posts {
	padding-left: 0;

	// Vertical alignments
	&:not(.is-grid) > li {
		margin-top: var(--global-spacing-v);
		margin-bottom: var(--global-spacing-v);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.is-grid {
		word-wrap: break-word;
		word-break: break-word;

		> li {
			margin-bottom: var(--global-spacing-v);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// vertical alignment of items elements
	> li > * {
		margin-top: calc(0.333 * var(--global-spacing-v));
		margin-bottom: calc(0.333 * var(--global-spacing-v));

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	// Post title
	> li > a {
		display: inline-block;
		font-family: var(--latest-posts-ff-title);
		font-size: var(--latest-posts-fs-title);
		font-weight: var(--heading-fw);
		line-height: var(--global-lh-heading);
	}

	// Post author
	.wp-block-latest-posts__post-author {
		color: currentColor;
		font-size: var(--global-fs-md);
		line-height: var(--global-lh);
	}

	// Post date
	.wp-block-latest-posts__post-date {
		color: currentColor;
		font-size: var(--global-fs-xs);
	}

	// Post content
	.wp-block-latest-posts__post-excerpt,
	.wp-block-latest-posts__post-full-content {
		font-family: var(--latest-posts-ff-content);
		font-size: var(--latest-posts-fs-content);
		margin-top: calc(0.666 * var(--global-spacing-v));
	}
}
