.wp-block-pullquote {
	border: none;
	padding: 0;
	text-align: left;

	blockquote {
		padding: 1.45em 0 0;
		font-size: 1.5rem;

		&:before {
			position: absolute;
			top: 0;
		}

		&:not(.has-text-color):before {
			color: var(--global-cl-accent);
		}
	}

	p {
		font-family: var(--pullquote-ff);
		font-size: var(--pullquote-fs);
		line-height: var(--pullquote-lh);
		font-style: var(--pullquote-font-style);
		margin: 0;
	}

	.wp-block-pullquote__citation,
	cite,
	footer {
		display: block;
		font-size: var(--global-fs-base);
		font-style: normal;
		text-transform: none;
		margin-top: 1rem;
	}

	// Style: Solid
	&.is-style-solid-color {

		blockquote {
			max-width: 100%;

			p {
				font-size: var(--pullquote-fs);
			}
		}

		&.has-background {
			padding: var(--global-spacing-v) var(--global-spacing-h);
		}
	}
}
