
.wp-block-cover,
.wp-block-cover-image {
	@include editor-innerblock-vertical-margins(".wp-block-cover__inner-container");

	&:not(.alignwide):not(.alignfull) {
		clear: both;
	}

	&.has-custom-content-position {

		.wp-block-cover__inner-container {
			max-width: min(100%, var(--global-content-max-width));
		}
	}

	/* The background color class is used just for the overlay, and does not need to be applied to the inner container. */
	&[class*="-background-color"][class] .wp-block-cover__inner-container {
		background-color: unset;
	}
}
