/*--------------------------------------------------------------
# Miscellaneous
--------------------------------------------------------------*/

// Disable scroll: Intended to be applied on root html tag
.scroll-disabled {
	// overflow-x: hidden !important;
	// overflow-y: hidden !important;
	overflow-y: scroll;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;

	// Fix for the admin bar
	@media ( max-width: 599px ) {
		margin: 0 !important;
	}
}

// no js
.no-js .hide-no-js {
	display: none !important;
}

// Overlay
.overlay-mask {
	background-color: var(--cl-overlay, rgba(0, 0, 0, 0.5));
	bottom: 0;
	content: "";
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999998;
}

// Reset list style
.reset-list-style,
.reset-list-style ul,
.reset-list-style ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
