// Used in the form that retrieve protected post password form content.
.post-password-message {
	font-size: var(--global-fs-large);
}

.post-password-form {
	display: flex;
	flex-wrap: wrap;

	&__label {
		width: 100%;
		margin-bottom: 0;
	}

	input[type="password"] {
		flex-grow: 1;
		margin-top: calc(var(--global-spacing-v-responsive) / 3);
		margin-right: calc(0.66 * var(--global-spacing-h-responsive));
	}

	&__submit {
		margin-top: calc(var(--global-spacing-v-responsive) / 3);
		@include media(tablet) {
			margin-left: calc(0.4 * var(--global-spacing-h-responsive));
		}
	}
}
