
a {
	cursor: pointer;
	color: var(--links-cl-text);
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
}

a:hover {
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}
