// Shared Lists (archives, categories, latest posts, latest comments)
.wp-block-archives,
.wp-block-categories > .wp-block-categories__list,
.wp-block-latest-posts,
.wp-block-latest-comments {
	list-style: none;
	padding-left: 0;

	ul,
	ol {
		list-style: inherit;
	}
}

.wp-block-archives,
.wp-block-categories > .wp-block-categories__list {

	li {
		margin-top: calc(0.5 * var(--global-spacing-v));

		> a {
			font-size: var(--list-fs-title);
			line-height: var(--global-lh-heading);
			font-weight: var(--heading-fw);
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	> li:first-child {
		margin-top: 0;
	}
}
