.has-sidebar.has-sidebar--below {

	@include media(desktop-plus) {

		.content-area {
			display: grid;
			grid-template-columns: 5fr 2fr;
			grid-gap: 1rem;
			justify-content: center;
		}

		.widget-area {
			grid-column: 2;
			grid-row: 1;
		}

	}

}

.has-sidebar.has-sidebar--toggle {

	.widget-area {
		display: none;
	}

	@include media(desktop-plus) {

		.content-area {
			display: grid;
			grid-template-columns: 5fr 2fr;
			grid-gap: 1rem;
			justify-content: center;
		}

		.drawer-sidebar-toggle {
			display: none;
		}

		.widget-area {
			display: block;
			grid-column: 2;
			grid-row: 1;
		}

	}

}
