.wp-block-button .wp-block-button__link {
	@include button-style();

	background-color: var(--global-cl-accent);
	color: var(--global-cl-on-accent);
}

.wp-block-button {

	// Outline Style.
	&.is-style-outline {

		.wp-block-button__link {

			border-style: solid;
			border-width: var(--button-border-width);
			border-color: currentColor;
			box-shadow: none;

			&:not(.has-background) {
				background: transparent;
			}

			&:not(.has-text-color) {
				color: var(--button-cl-bg);
			}

			&:focus {
				outline-offset: 2px;
				outline: 2px dotted currentColor;
			}
		}
	}
}
