.wp-block-columns {

	&:not(.alignwide):not(.alignfull) {
		clear: both;
	}

	.wp-block,
	.wp-block-column {

		// Let blocks inside the columns have the full width of its column
		max-width: 100%;
	}

	// Vertically align blocks inside each column
	@include editor-innerblock-vertical-margins(".wp-block-column");

	// Columns spacing
	@media ( max-width: 599px ) {

		.wp-block-column + .wp-block-column {
			margin-top: calc(0.666 * var(--global-spacing-v));
		}
	}

	@media ( min-width: 600px ) and ( max-width: 781px ) {

		.wp-block-column:not(:only-child) {
			flex-basis: calc(50% - var(--global-spacing-h)) !important;
			flex-grow: 1;
			margin: 0 0 var(--global-spacing-h);
		}

		.wp-block-column:nth-child(2n) {
			margin-left: var(--global-spacing-h);
		}

		// Last two when they form a full row.
		.wp-block-column:nth-last-of-type(-n+1):nth-child(even),
		.wp-block-column:nth-last-of-type(-n+2):nth-child(odd) {
			margin-bottom: 0;
		}
	}

	@media ( min-width: 782px ) {

		.wp-block-column:not(:first-child) {
			margin: 0 0 0 var(--global-spacing-h);
		}
	}

	// Add (override) padding when has background
	&.has-background {
		padding: var(--global-spacing-v) var(--global-spacing-h);
	}

	&.is-style-themesetup-columns-overlap {

		@include media(tablet-plus) {

			.wp-block-column:nth-child(2n) {
				margin-left: calc(-2.5 * var(--global-spacing-h));
				margin-top: calc(2.5 * var(--global-spacing-h));
				z-index: 2;

				&.is-vertically-aligned-center {
					margin-top: 0;
				}

			}
		}
	}
}
