.wp-block-columns {

	&:not(.alignwide):not(.alignfull) {
		clear: both;
	}

	.wp-block-column {

		> * {
			margin-top: calc(0.66 * var(--global-spacing-v));
			margin-bottom: calc(0.66 * var(--global-spacing-v));

			@include media(tablet-plus) {
				margin-top: var(--global-spacing-v);
				margin-bottom: var(--global-spacing-v);
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.wp-block-column:last-child {
		margin-bottom: 0;
	}

	.wp-block-column:not(:last-child) {
		margin-bottom: calc(0.66 * var(--global-spacing-v));

		@include media(tablet-plus) {
			margin-bottom: 0;
		}
	}

	&.alignfull {

		.wp-block-column {

			p:not(.has-background),
			h1:not(.has-background),
			h2:not(.has-background),
			h3:not(.has-background),
			h4:not(.has-background),
			h5:not(.has-background),
			h6:not(.has-background) {
				padding-left: var(--global-spacing-h);
				padding-right: var(--global-spacing-h);
			}
		}
	}

	&.is-style-themesetup-columns-overlap {

		justify-content: space-around;

		@include media(tablet-plus) {

			.wp-block-column:nth-child(2n) {

				margin-left: calc(-2.5 * var(--global-spacing-h));
				margin-top: calc(2.5 * var(--global-spacing-h));
				z-index: 2;

				&.is-vertically-aligned-center {
					margin-top: 0;
				}

				// // Removed and let users add bg.
				// // Provide text-based child blocks with a default background color and some padding to ensure they're readable.
				// > p,
				// > h1,
				// > h2,
				// > h3,
				// > h4,
				// > h5,
				// > h6,
				// > ul,
				// > ol,
				// > pre {

				// 	&:not(.has-background) {
				// 		background-color: var(--global-cl-bg);
				// 		padding: var(--global-spacing-unit);
				// 	}
				// }
				// // Lists should still have their usual left padding.
				// > ul:not(.has-background),
				// > ol:not(.has-background) {
				// 	padding-left: calc(2 * var(--global-spacing-h));
				// }

			}
		}
	}
}
