.wp-block-quote {
	position: relative;
	font-style: italic;
	border-left: none;
	font-size: 1rem;

	&:before {
		content: "\201D";
		font-family: serif;
		display: block;
		font-weight: 700;
		font-style: normal;
		color: currentColor;

		font-size: 3em;
		height: .4em;
		line-height: .75;
	}

	p {
		font-size: var(--quote-fs);
		font-style: var(--quote-font-style);
		line-height: var(--quote-lh);
		margin: 0;
	}

	.wp-block-quote__citation {
		font-size: var(--global-fs-sm);
		color: var(--global-cl-text-secondary);

		&:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			height: 1px;
			width: 32px;
			margin-right: 8px;
			background-color: currentColor;
		}
	}

	&.has-text-align-right {
		border-right: none;
	}

	&.is-large,
	&.is-style-large {
		padding-left: 0;
		padding-right: 0;

		p {
			font-size: var(--quote-fs-large);
			font-style: var(--quote-font-style-large);
			line-height: var(--quote-lh-large);
		}
	}
}
