.wp-block-quote {
	position: relative;
	border-left: none;

	&:before {
		content: "\201C";
		font-size: var(--quote-fs);
		line-height: var(--quote-lh);
		position: absolute;
		left: 8px;
	}

	p {
		font-size: var(--quote-fs);
		font-style: var(--quote-font-style);
		font-weight: 700;
		line-height: var(--quote-lh);
	}

	cite {
		font-size: var(--global-fs-xs);
		font-style: var(--quote-font-style);
		text-transform: none;
	}

	&.has-text-align-right {
		padding-right: 0;
		border-right: none;

		// Hide the left aligned quote.
		&:before {
			display: none;
		}

		// Align the quote left of the text.
		p:before {
			content: "\201D";
			font-size: var(--quote-fs);
			font-weight: normal;
			line-height: var(--quote-lh);
			margin-right: 5px;
		}
	}

	&.has-text-align-center {

		&:before {
			display: none;
		}
	}

	&.is-large,
	&.is-style-large {
		padding-left: 0;
		padding-right: 0;

		&:before {
			font-size: var(--quote-fs-large);
			line-height: var(--quote-lh-large);
			left: calc(-1 * var(--global-spacing-h));
		}

		p {
			font-size: var(--quote-fs-large);
			font-style: var(--quote-font-style-large);
			line-height: var(--quote-lh-large);
		}

		&.has-text-align-right {

			p:before {
				font-size: var(--quote-fs-large);
				line-height: var(--quote-lh-large);
				margin-right: 10px;
			}
		}

		cite {
			font-size: var(--global-fs-sm);
		}
	}
}
