
// Media queries
@mixin media( $res ) {

	// Mobile only
	@if mobile == $res {
		@media (max-width: $mobile-max) {
			@content;
		}
	}

	// Tablet only
	@if tablet == $res {
		@media (min-width: $tablet-min) and (max-width: $tablet-max) {
			@content;
		}
	}

	// Desktop only
	@if desktop == $res {
		@media (min-width: $desktop-min) {
			@content;
		}
	}

	// Tablet and plus
	@if tablet-plus == $res {
		@media (min-width: $tablet-min) {
			@content;
		}
	}

	// Desktop and plus
	@if desktop-plus == $res {
		@media (min-width: $desktop-min) {
			@content;
		}
	}

	// The sidebar is expanded next to main content
	@if sidebar-expanded == $res {
		@media (min-width: $sidebar-expanded) {
			@content;
		}
	}
	// The sidebar is hidden
	@if sidebar-hidden == $res {
		@media (max-width: $sidebar-hidden) {
			@content;
		}
	}

}

// Link styles
@mixin link-style() {
	cursor: pointer;
	color: var(--links-cl-text);
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	transition: all .15s linear;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

@mixin link-modifier-naked() {
	// color: currentColor;
	text-decoration: none;
	transition: all .15s linear;

	&:hover {
		text-decoration: underline;
		text-decoration-thickness: 2px;
		text-underline-offset: 3px;
	}
}

// Button style
@mixin button-style() {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-flex;
	justify-content: center;
	line-height: var(--button-lh);
	font-weight: var(--button-fw);
	font-family: var(--button-ff);
	font-size: var(--button-fs);
	border-radius: var(--button-border-radius);
	padding: var(--button-padding-v) var(--button-padding-h);
	cursor: pointer;
	box-shadow: var(--button-shadow);
	transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1), opacity 15ms linear, background-color 15ms linear;
	text-decoration: none;
	border-style: solid;
	border-width: var(--button-border-width);
	border-color: transparent; // var(--button-cl-bg);

	&:hover,
	&:focus {
		text-decoration: underline;
		text-decoration-thickness: 2px;
		text-underline-offset: 3px;
		box-shadow: var(--button-shadow-hover);
	}

	&:focus-visible {
		outline-offset: -5px;
	}

	&:active {
		box-shadow: var(--button-shadow-active);
	}
}
