// Theme identity color
$theme-color-identity: #5c6bc0;
$theme-color-identity-dark: #8c9eff;

// Breakpoints
$mobile-max: 599px; // 719px;
$tablet-min: 600px; // 720px;
$tablet-max: 1024px;
$desktop-min: 1025px;

$sidebar-expanded: 800px;
$sidebar-hidden: 799px;

// Vertical Rhythm Multiplier
$baseline-unit: 10px;
