
// Media queries
@mixin media( $res ) {

	// Mobile only
	@if mobile == $res {
		@media only screen and (max-width: $mobile-max) {
			@content;
		}
	}

	// Tablet only
	@if tablet == $res {
		@media only screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
			@content;
		}
	}

	// Desktop only
	@if desktop == $res {
		@media only screen and (min-width: $desktop-min) {
			@content;
		}
	}

	// Tablet and plus
	@if tablet-plus == $res {
		@media only screen and (min-width: $tablet-min) {
			@content;
		}
	}

	// Desktop and plus
	@if desktop-plus == $res {
		@media only screen and (min-width: $desktop-min) {
			@content;
		}
	}

	// The sidebar is expanded next to main content
	@if sidebar-expanded == $res {
		@media only screen and (min-width: $sidebar-expanded) {
			@content;
		}
	}
	// The sidebar is hidden
	@if sidebar-hidden == $res {
		@media only screen and (max-width: $sidebar-hidden) {
			@content;
		}
	}

}

// Link style
@mixin link-style() {
	cursor: pointer;
	color: var(--links-cl-text);
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;

	&:hover {
		text-decoration: none;
	}

	&:focus {
		outline: thin dotted;
		text-decoration: none;
	}
}

// Button style
@mixin button-style() {
	line-height: var(--button-lh);
	font-weight: var(--button-fw);
	font-family: var(--button-ff);
	font-size: var(--button-fs);
	border: none;
	border-radius: var(--button-border-radius);
	text-decoration: none;
	padding: var(--button-padding-vertical) var(--button-padding-horizontal);
	cursor: pointer;
	background-color: var(--button-cl-bg);
	color: var(--button-cl-text);
	box-shadow: var(--button-shadow);
	transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1), opacity 15ms linear, background-color 15ms linear;

	border-style: solid;
	border-width: var(--button-border-width);
	border-color: transparent; // var(--button-cl-bg);

	&:hover,
	&:active,
	&:focus {
		opacity: 0.85;
	}

	&:hover,
	&:focus {
		box-shadow: var(--button-shadow-hover);
	}

	&:focus {
		outline: none;
	}

	&:active {
		box-shadow: var(--button-shadow-active);
	}
}

@mixin editor-innerblock-margin-clear($container) {

	// Clear the top margin for the first-child.
	> #{$container} > *:first-child {
		margin-top: 0;
	}

	// Last child that is not the appender.
	> #{$container} > *:last-child:not(.block-list-appender) {
		margin-bottom: 0;
	}

	// When selected, the last item becomes the second last because of the appender.
	&.has-child-selected > #{$container} > *:nth-last-child(2),
	&.is-selected > #{$container} > *:nth-last-child(2) {
		margin-bottom: 0;
	}
}
