select {
	font-size: var(--form-fs);
	border: var(--form-width-border) solid var(--form-cl-border);
	color: var(--form-cl-text);
	appearance: none;
	line-height: var(--form-lh);
	padding: var(--form-spacing-unit) calc(3 * var(--form-spacing-unit)) var(--form-spacing-unit) var(--form-spacing-unit);
	background: var(--global-cl-white) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2328303d'><polygon points='0,0 10,0 5,5'/></svg>") no-repeat; // stylelint-disable-line function-url-quotes
	background-position: right var(--form-spacing-unit) top 60%;
	border-radius: var(--form-border-radius);
}
