ul,
ol {
	font-family: var(--list-ff);
	padding-left: var(--global-spacing-h);
	margin: 0;
}

ul {
	list-style-type: disc;

	ul {
		list-style-type: circle;
	}
}

ol {
	list-style-type: decimal;

	ul {
		list-style-type: circle;
	}
}
